<t-breadcrumb [parts]="breadcrumbParts()" />

<div class="title-wrapper">
  <div class="left">
    <h1 class="mat-headline-medium title">{{ episodeTitle() }}</h1>
    <h2 class="mat-body-large subtitle">
      @if (episode()?.first_aired) {
        {{ episode()?.first_aired | date: 'd. MMM. yyyy (E.)' }}
      } @else {
        &nbsp;
      }
    </h2>
  </div>
  <div class="right" tSwipe (swipeLeft)="next($event)" (swipeRight)="previous($event)">
    <a
      mat-icon-button
      aria-label="Previous episode"
      [routerLink]="previousEpisodeLink()"
      [state]="{ back }"
      [disabled]="episodeNumber() === '1'"
      data-test-id="previous-button"
      #previousButton
    >
      <mat-icon>navigate_before</mat-icon>
    </a>
    <a
      mat-icon-button
      aria-label="Next episode"
      [routerLink]="nextEpisodeLink()"
      [state]="{ back }"
      [disabled]="episodeNumber() === episodes()?.length + ''"
      data-test-id="next-button"
      #nextButton
    >
      <mat-icon>navigate_next</mat-icon>
    </a>
  </div>
</div>
