@use '../../../../../../shared/styles/variables' as vars;

.title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .left {
    .title {
      margin-bottom: 0.25rem;

      @media (min-width: vars.$breakpoint-sm) {
        margin-bottom: 0.5rem;
      }
    }

    .subtitle {
      color: var(--text-color-2);
      margin: 0;
    }
  }

  .right {
    display: flex;
  }
}
