<t-loading [loadingState]="pageState()" class="container">
  <t-show-header
    [isLoggedIn]="authService.isLoggedIn()"
    [tmdbSeason]="tmdbSeason()"
    [showWatched]="showWatched()"
    [tmdbShow]="tmdbShow()"
    [show]="show()"
    [nextEpisode]="nextTraktEpisode() ?? undefined"
    [isFavorite]="isFavorite()"
    [isSmall]="isSmall()"
    [isNewShow]="showProgress() === undefined"
    [isWatchlist]="isWatchlist()"
    [disablePosterFadeIn]="!!info?.tmdbShow"
    (addFavorite)="showService.addFavorite($event)"
    (removeFavorite)="showService.removeFavorite($event)"
    (addToWatchlist)="executeService.addToWatchlist($event)"
    (removeFromWatchlist)="executeService.removeFromWatchlist($event)"
    (addShow)="executeService.addShow($event)"
    (showTrailer)="dialogService.showTrailer($event)"
  />

  @if (cast()?.length) {
    <t-show-cast [cast]="cast()" />
  }
  @if (cast()) {
    <t-show-details [tmdbShow]="tmdbShow()" />
  }
  @if (cast()) {
    <t-show-next-episode
      [isLoggedIn]="authService.isLoggedIn()"
      [isLoading]="nextEpisode() === null && !isError()"
      [nextEpisode]="nextEpisode()"
      [showProgress]="showProgress()"
      [isNewShow]="showProgress() === undefined"
      [tmdbShow]="tmdbShow()"
      [tmdbSeason]="tmdbSeason()"
      [show]="show()"
      [showWatched]="showWatched()"
      [seenLoading]="seenLoading()"
      (addEpisode)="addToHistory($event.episode, $event.show)"
      (removeEpisode)="executeService.removeEpisode($event.episode, $event.show)"
    />
  }
  @if (cast()) {
    <t-show-seasons
      [show]="show()"
      [showProgress]="showProgress()"
      [seasonsEpisodes]="seasonEpisodes()"
      [tmdbShow]="tmdbShow()"
      [back]="back"
    />
  }
  @if (cast()) {
    <t-show-links [show]="show()" [tmdbShow]="tmdbShow()" />
  }
</t-loading>
