<t-loading [loadingState]="pageState$" class="container">
  <t-show-header
    [isLoggedIn]="authService.isLoggedIn$ | async"
    [tmdbSeason]="tmdbSeason$ | async"
    [showWatched]="showWatched$ | async"
    [tmdbShow]="tmdbShow"
    [show]="show$ | async"
    [nextEpisode]="nextTraktEpisode"
    [isFavorite]="isFavorite$ | async"
    [isSmall]="isSmall$ | async"
    [isNewShow]="(showProgress$ | async) === undefined"
    [isWatchlist]="isWatchlist$ | async"
    (addFavorite)="showService.addFavorite($event)"
    (removeFavorite)="showService.removeFavorite($event)"
    (addToWatchlist)="executeService.addToWatchlist($event)"
    (removeFromWatchlist)="executeService.removeFromWatchlist($event)"
    (addShow)="executeService.addShow($event)"
    (showTrailer)="dialogService.showTrailer($event)"
    (showImage)="showImage($event.url, $event.name)"
  />

  <t-show-cast *ngIf="cast?.length" [cast]="cast" />

  <t-show-details *ngIf="cast" [tmdbShow]="tmdbShow" />

  <t-show-next-episode
    *ngIf="cast"
    [isLoggedIn]="authService.isLoggedIn$ | async"
    [isLoading]="(nextEpisode$ | async) === null && !isError()"
    [nextEpisode]="nextEpisode"
    [showProgress]="showProgress"
    [isNewShow]="(showProgress$ | async) === undefined"
    [tmdbShow]="tmdbShow"
    [tmdbSeason]="tmdbSeason"
    [show]="show"
    [showWatched]="showWatched$ | async"
    [seenLoading]="seenLoading | async"
    (addEpisode)="addToHistory($event.episode, $event.show)"
    (removeEpisode)="executeService.removeEpisode($event.episode, $event.show)"
  />

  <t-show-seasons
    *ngIf="cast"
    [show]="show$ | async"
    [showProgress]="showProgress"
    [seasonsEpisodes]="seasonEpisodes$ | async"
    [tmdbShow]="tmdbShow$ | async"
    [back]="back"
  />

  <t-show-links *ngIf="cast" [show]="show$ | async" [tmdbShow]="tmdbShow$ | async" />
</t-loading>
