@if (showQuery.isPending()) {
  <t-spinner />
} @else if (showQuery.isError()) {
  <p class="mat-body-medium">{{ showErrorMessage() }}</p>
} @else {
  <div class="container">
    @if (tmdbShowQuery.isError()) {
      <p class="mat-body-medium">{{ tmdbErrorMessage() }}</p>
    }

    <t-show-header
      [isLoggedIn]="authService.isLoggedIn()"
      [tmdbSeason]="tmdbSeason()"
      [showWatched]="showWatched()"
      [tmdbShow]="tmdbShow()"
      [show]="showData()"
      [nextEpisode]="nextTraktEpisode() ?? undefined"
      [isFavorite]="isFavorite()"
      [isSmall]="isSmall()"
      [isNewShow]="showProgress() === undefined"
      [isWatchlist]="isWatchlist()"
      [disablePosterFadeIn]="!!info?.tmdbShow"
      (addFavorite)="showService.addFavorite($event)"
      (removeFavorite)="showService.removeFavorite($event)"
      (addToWatchlist)="executeService.addToWatchlist($event)"
      (removeFromWatchlist)="executeService.removeFromWatchlist($event)"
      (addShow)="executeService.addShow($event)"
      (showTrailer)="dialogService.showTrailer($event)"
    />

    <t-show-cast [cast]="cast()" />

    <t-show-details [tmdbShow]="tmdbShow()" />

    <t-show-next-episode
      [isLoggedIn]="authService.isLoggedIn()"
      [isLoading]="nextEpisode() === null && !isError()"
      [nextEpisode]="nextEpisode()"
      [showProgress]="showProgress()"
      [isNewShow]="showProgress() === undefined"
      [tmdbShow]="tmdbShow()"
      [tmdbSeason]="tmdbSeason()"
      [show]="showData()"
      [showWatched]="showWatched()"
      [seenLoading]="seenLoading()"
      (addEpisode)="addToHistory($event.episode, $event.show)"
      (removeEpisode)="executeService.removeEpisode($event.episode, $event.show)"
    />

    <t-show-seasons
      [show]="showData()"
      [showProgress]="showProgress()"
      [seasonsEpisodes]="episodes()"
      [tmdbShow]="tmdbShow()"
      [back]="back"
    />

    <t-show-links [show]="showData()" [tmdbShow]="tmdbShow()" />
  </div>
}
