<h1 class="mat-headline-3">About</h1>
<p class="mat-body-1">
  Trakify is about tracking episodes of tv shows that you have seen. But it also allows to discover
  trending shows, create a watchlist for shows that you want to see and statistics of shows and
  episodes that you have already seen.
</p>
<p class="mat-body-1">
  It uses
  <a href="https://trakt.tv/" target="_blank" rel="noopener norefferer" class="custom-link"
    >Trakt</a
  >
  under the hood. That means you have to connect your Trakt account if you have one or create a new
  account. This happens automatically when clicking on the login button of the
  <a href="/login" class="custom-link">login page</a> where you get redirected to the Trakt page.
</p>
<p class="mat-body-1">If you enjoy using this app, consider to donate.</p>
<a
  mat-raised-button
  color="primary"
  href="https://www.paypal.com/donate/?hosted_button_id=NZVDE9956NGDN"
  target="_blank"
  rel="noopener norefferer"
  class="donate-button"
  >Donate</a
>
<p class="mat-body-1">
  The app is created by one developer. The source code is open source on
  <a
    href="https://github.com/vdbongard/trakify"
    target="_blank"
    rel="noopener norefferer"
    class="custom-link"
    >GitHub</a
  >. To give feedback or file a bug you can use
  <a
    href="https://github.com/vdbongard/trakify/issues/new"
    target="_blank"
    rel="noopener norefferer"
    class="custom-link"
    >GitHub Issues</a
  >
  or send an
  <a
    href="mailto:danielvdbongard@gmail.com?subject=Trakify%20Feedback"
    target="_blank"
    rel="noopener norefferer"
    class="custom-link"
    >email</a
  >.
</p>
