<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    class="sidenav"
    role="navigation"
    [mode]="isDesktop && isLoggedIn ? 'side' : 'over'"
    [opened]="isLoggedIn"
    (closedStart)="sidenavClosedStart()"
    (opened)="sidenavOpened()"
  >
    <mat-nav-list class="sidenav-list" *ngIf="isLoggedIn">
      <a
        *ngFor="let link of links"
        [routerLink]="link.url"
        [queryParamsHandling]="link.queryParamsHandling"
        routerLinkActive="active"
        class="sidenav-link"
      >
        <mat-list-item class="sidenav-item">
          <div class="sidenav-wrapper">
            <div class="icon-wrapper">
              <mat-icon class="sidenav-icon">{{ link.icon }}</mat-icon>
            </div>
            <div class="sidenav-link-name">{{ link.name }}</div>
          </div>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main" [class.has-tabs]="activeTabLink">
    <nav
      *ngIf="activeTabLink"
      mat-tab-nav-bar
      [tabPanel]="tabPanel"
      [mat-stretch-tabs]="false"
      tSwipe
      (swipeLeft)="swipeLeft()"
      (swipeRight)="swipeRight()"
      class="tab-bar-top"
    >
      <a
        mat-tab-link
        *ngFor="let link of tabLinks"
        [routerLink]="link.url"
        [active]="activeTabLink === link"
      >
        {{ link.name }}
      </a>
    </nav>

    <mat-tab-nav-panel #tabPanel class="tab-content">
      <ng-content></ng-content>
    </mat-tab-nav-panel>
  </mat-sidenav-content>
</mat-sidenav-container>
