:host {
  display: grid;
  grid-template-columns: 154px 1fr;
  gap: 1rem;
  width: 100%;
}

.poster {
  cursor: pointer;
  width: 154px;
  height: 231px;
}

.right {
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;

  .title {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .favorite-button.remove {
    display: none;
  }

  &:hover .favorite-button.remove {
    display: block;
  }
}
