@import '../../styles';

.toolbar {
  position: fixed;
  top: env(safe-area-inset-top);
  z-index: 3;
  view-transition-name: toolbar;
  isolation: isolate;
  contain: paint;
}

.back-link {
  margin-left: rem-convert(-8px);

  @media (min-width: $breakpoint-sm) {
    margin-right: rem-convert(8px);
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  .logo-image {
    height: rem-convert(28px);
    width: auto;
    margin-right: 0.5rem;
    aspect-ratio: 28 / 32;
  }

  .logo-text {
    color: var(--text-color);
  }
}

.sync-spinner {
  margin-left: 0.6rem;
}

.spacer {
  flex: 1 1 auto;
}

.list-title {
  margin: rem-convert(12px) 0;
}

.section {
  margin: 0 1rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
