<mat-toolbar class="toolbar">
  @if (state?.['back']) {
    <button mat-icon-button class="back-link" aria-label="Back" (click)="goBack(state?.['back'])">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }

  <a routerLink="" class="logo-wrapper" data-test-id="logo">
    <img
      ngSrc="../../../../assets/logo-T.png"
      priority
      width="28"
      height="32"
      alt="Logo"
      class="logo-image"
    />
    <span class="logo-text">Trakify</span>
  </a>

  @if (syncService.isSyncing()) {
    <mat-spinner color="accent" diameter="24" class="sync-spinner"></mat-spinner>
  }

  <span class="spacer"></span>

  @if (isLoggedIn) {
    @if (hasFilter()) {
      <button mat-icon-button aria-label="Filter icon" [matMenuTriggerFor]="menuFilter">
        <mat-icon>filter_alt</mat-icon>
      </button>
    }
    @if (hasSort()) {
      <button mat-icon-button aria-label="Sort icon" [matMenuTriggerFor]="menuSort">
        <mat-icon>sort</mat-icon>
      </button>
    }
    @if (isList()) {
      <button
        mat-icon-button
        aria-label="Create list"
        (click)="dialogService.addList()"
        data-test-id="add-list-button"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>

      @if (hasLists()) {
        <button
          mat-icon-button
          aria-label="Remove list"
          (click)="executeService.removeList(getQueryParams().slug)"
          data-test-id="remove-list-button"
        >
          <mat-icon>playlist_remove</mat-icon>
        </button>
      }
    }

    <a mat-icon-button aria-label="Search icon" [routerLink]="Paths.search({})">
      <mat-icon>search</mat-icon>
    </a>
  }

  <button
    mat-icon-button
    aria-label="Open menu"
    [matMenuTriggerFor]="defaultMenu"
    data-test-id="topbar-menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- ---------- menus ---------- -->

<mat-menu #menuFilter="matMenu">
  <section
    class="section"
    (click)="$event.stopPropagation()"
    (keyup.enter)="$event.stopPropagation()"
    tabindex="0"
  >
    @if (config()) {
      <h4 class="list-title">Hide</h4>

      <ul class="list">
        @if (url() === '/shows/progress') {
          @for (filter of hideFilters(); track filter.name) {
            <li>
              <mat-checkbox
                color="primary"
                [(ngModel)]="filter.value"
                (ngModelChange)="onFilterChange(filter)"
              >
                {{ filter.name }}
              </mat-checkbox>
            </li>
          }
        }
        @if (url() === '/shows/upcoming') {
          @for (filter of upcomingHideFilters(); track filter.name) {
            <li>
              <mat-checkbox
                color="primary"
                [(ngModel)]="filter.value"
                (ngModelChange)="onFilterChange(filter)"
              >
                {{ filter.name }}
              </mat-checkbox>
            </li>
          }
        }
      </ul>

      <h4 class="list-title">Show</h4>

      <ul class="list">
        @if (url() === '/shows/progress') {
          @for (filter of showFilters(); track filter.name) {
            <li>
              <mat-checkbox
                color="primary"
                [(ngModel)]="filter.value"
                (ngModelChange)="onFilterChange(filter)"
              >
                {{ filter.name }}
              </mat-checkbox>
            </li>
          }
        }
        @if (url() === '/shows/upcoming') {
          @for (filter of upcomingShowFilters(); track filter.name) {
            <li>
              <mat-checkbox
                color="primary"
                [(ngModel)]="filter.value"
                (ngModelChange)="onFilterChange(filter)"
              >
                {{ filter.name }}
              </mat-checkbox>
            </li>
          }
        }
      </ul>
    }
  </section>
</mat-menu>

<mat-menu #menuSort="matMenu">
  <section
    class="section"
    (click)="$event.stopPropagation()"
    (keyup.enter)="$event.stopPropagation()"
    tabindex="0"
  >
    <h4 class="list-title">Sort</h4>

    @if (config()) {
      <mat-radio-group
        class="radio-group"
        [(ngModel)]="config()!.sort.by"
        (ngModelChange)="configService.config.sync()"
      >
        @for (sortBy of config()!.sort.values; track sortBy) {
          <mat-radio-button [value]="sortBy" color="primary" class="radio-button">
            {{ sortBy }}
          </mat-radio-button>
        }
      </mat-radio-group>
    }
    @if (config()) {
      <ul class="list">
        @for (sortOption of config()!.sortOptions; track sortOption.name) {
          <li [value]="sortOption.value">
            <mat-checkbox
              color="primary"
              [(ngModel)]="sortOption.value"
              (ngModelChange)="configService.config.sync()"
            >
              {{ sortOption.name }}
            </mat-checkbox>
          </li>
        }
      </ul>
    }
  </section>
</mat-menu>

<mat-menu #defaultMenu="matMenu">
  <ng-template matMenuContent>
    @if (!isLoggedIn) {
      <a mat-menu-item [routerLink]="Paths.login({})">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
    }
    @if (!isLoggedIn || !isShow()) {
      <button mat-menu-item [matMenuTriggerFor]="themeMenu">
        <mat-icon>palette</mat-icon>
        <span>Theme</span>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
        <span>Language</span>
      </button>

      <button mat-menu-item (click)="appStatus.checkForUpdate()">
        <mat-icon>update</mat-icon>
        <span>Check for updates</span>
      </button>
    }
    @if (isLoggedIn && isShow()) {
      @if (showService.activeShow(); as show) {
        @if (lists() && lists()!.length > 0) {
          <button mat-menu-item (click)="dialogService.manageLists(show.ids.trakt)">
            Manage lists
          </button>
        }

        <button mat-menu-item (click)="executeService.addShow(show, { showConfirm: true })">
          Mark as seen
        </button>

        <button
          mat-menu-item
          (click)="
            showService.isFavorite(show)
              ? showService.removeFavorite(show)
              : showService.addFavorite(show)
          "
        >
          {{ isFavoriteShow() ? 'Remove favorite' : 'Add favorite' }}
        </button>

        <button
          mat-menu-item
          (click)="
            showService.isHidden(show)
              ? executeService.removeShowHidden(show)
              : executeService.addShowHidden(show)
          "
        >
          {{ isHiddenShow() ? 'Unhide show' : 'Hide show' }}
        </button>

        @if (isSeason() && seasonService.activeSeason(); as season) {
          <button
            mat-menu-item
            (click)="executeService.addSeason(season, show, { showConfirm: true })"
          >
            Mark season as seen
          </button>

          <button mat-menu-item (click)="executeService.removeSeason(season, show)">
            Mark season as unseen
          </button>
        }

        <button mat-menu-item (click)="executeService.refreshShow(show)">Refresh show</button>
      }
    }
    @if (isLoggedIn) {
      <button mat-menu-item [matMenuTriggerFor]="syncMenu">
        <mat-icon>sync</mat-icon>
        <span>Sync</span>
      </button>
    }

    <button mat-menu-item (click)="onShare()">
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>

    <a mat-menu-item [routerLink]="Paths.about({})">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </a>

    @if (isLoggedIn && !isShow()) {
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    }
  </ng-template>
</mat-menu>

<mat-menu #themeMenu="matMenu">
  <button mat-menu-item (click)="configService.setTheme(themes.LIGHT); configService.config.sync()">
    Light
  </button>
  <button mat-menu-item (click)="configService.setTheme(themes.DARK); configService.config.sync()">
    Dark
  </button>
  <button
    mat-menu-item
    (click)="configService.setTheme(themes.SYSTEM); configService.config.sync()"
  >
    System
  </button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
  @for (language of languages; track language.short) {
    <button
      mat-menu-item
      (click)="
        configService.setLanguage(language.short);
        syncService.sync(undefined, { publishSingle: false })
      "
    >
      {{ language.name }}
    </button>
  }
</mat-menu>

<mat-menu #syncMenu="matMenu">
  <button mat-menu-item (click)="syncService.syncNew({ showSyncingSnackbar: true })">
    Sync new
  </button>
  <button mat-menu-item (click)="syncService.syncAll({ showSyncingSnackbar: true })">
    Sync all
  </button>
</mat-menu>
