:host.ticker {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    animation: reveal calc(0.5s + var(--animated-text-width) / 80 * 1s) ease-in-out forwards;
    cursor: default;
  }
}

@keyframes reveal {
  to {
    transform: translateX(calc(-1px * var(--animated-text-width)));
  }
}
