:host.ticker {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: text-indent linear;

  &:hover {
    text-indent: var(--indent);
    text-overflow: clip;
    user-select: none;
  }
}
