<ng-container *ngIf="seasonInfo">
  <a class="mat-headline title" [routerLink]="'/series/s/' + seasonInfo.show?.ids?.slug">
    {{ seasonInfo.showTranslation?.title || seasonInfo.show?.title }}
  </a>
  <h3 class="mat-title">
    {{ seasonInfo.seasonProgress?.title || 'Season ' + seasonInfo.seasonProgress?.number }}
  </h3>
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="
      seasonInfo.seasonProgress
        ? (seasonInfo.seasonProgress.completed / seasonInfo.seasonProgress.aired) * 100
        : 0
    "
  ></mat-progress-bar>
  <mat-list
    *ngIf="
      seasonInfo.seasonProgress &&
      seasonInfo.show &&
      seasonInfo.episodes &&
      seasonInfo.episodesTranslations
    "
  >
    <mat-list-item
      *ngFor="let episodeProgress of seasonInfo.seasonProgress.episodes; let i = index"
      matRipple
      [routerLink]="
        '/series/s/' +
        seasonInfo.show.ids.slug +
        '/season/' +
        seasonInfo.seasonProgress.number +
        '/episode/' +
        episodeProgress.number
      "
    >
      <app-episode-item
        [index]="i"
        [episodeProgress]="episodeProgress"
        [episode]="seasonInfo.episodes[i]"
        [episodeTranslation]="seasonInfo.episodesTranslations[i]"
      ></app-episode-item>
    </mat-list-item>
  </mat-list>
</ng-container>
