@import 'src/app/styles';

:host {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 0.5rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 1rem;
  }
}

.episodes-text {
  color: var(--text-color-2);
}
