@use '../../styles/variables' as vars;

.still-wrapper {
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: flex;
  place-items: center;

  .image-link {
    width: 100%;
  }

  @media (min-width: vars.$breakpoint-sm) {
    margin-bottom: 1rem;
  }
}

.still-thumbnail {
  aspect-ratio: 16 / 9;
  transition: opacity 0.1s ease-in-out;
  width: 100%;

  &.not-loaded {
    opacity: 0;
  }
}
