@import '../../styles';

.still-wrapper {
  margin-bottom: rem-convert(8px);
  overflow: hidden;
  display: flex;
  place-items: center;

  .image-link {
    width: 100%;
  }

  @media (min-width: $breakpoint-sm) {
    margin-bottom: rem-convert(16px);
  }
}

.still-thumbnail {
  aspect-ratio: 16 / 9;
  transition: opacity 0.1s ease-in-out;
  width: 100%;

  &.not-loaded {
    opacity: 0;
  }
}
