@if (seasonProgress() || season()) {
  <h3 class="mat-body-medium title">
    {{ seasonTitle() }}
    <span class="episodes-text">
      @if (seasonProgress()) {
        ({{ seasonProgress()!.completed }}/{{ episodesAired() }})
      }
      @if (!seasonProgress() && season()) {
        ({{ season().episode_count }} episodes)
      }
    </span>
  </h3>
  <mat-progress-bar
    mode="determinate"
    [value]="!seasonProgress() ? 0 : (seasonProgress()!.completed / episodesAired()) * 100"
    aria-label="Season episodes watched percentage of all season episodes"
  ></mat-progress-bar>
}
