<ng-container *ngIf="seasonProgress() || _season()">
  <h3 class="mat-body-2 title">
    {{ seasonTitle() }}
    <span class="episodes-text">
      <ng-container *ngIf="seasonProgress()">
        ({{ seasonProgress()!.completed }}/{{ episodesAired }})
      </ng-container>
      <ng-container *ngIf="!seasonProgress() && _season()">
        ({{ _season().episode_count }} episodes)
      </ng-container>
    </span>
  </h3>
  <mat-progress-bar
    mode="determinate"
    [value]="
      !(seasonProgress() && episodesAired) ? 0 : (seasonProgress()!.completed / episodesAired) * 100
    "
    aria-label="Season episodes watched percentage of all season episodes"
  ></mat-progress-bar>
</ng-container>
