<t-breadcrumb [parts]="breadcrumbParts" />
<div class="title-wrapper">
  <div class="left">
    <h3 class="mat-headline-6 title">{{ seasonTitle() }}</h3>
  </div>
  <div class="right" tSwipe (swipeLeft)="next()" (swipeRight)="previous()">
    <a
      mat-icon-button
      aria-label="Previous season"
      [routerLink]="previousSeasonLink()"
      [state]="{ back }"
      [disabled]="seasons() ? seasonNumber() === seasons()![0].number + '' : false"
      data-test-id="previous-button"
      #previousButton
    >
      <mat-icon>navigate_before</mat-icon>
    </a>
    <a
      mat-icon-button
      aria-label="Next season"
      [routerLink]="nextSeasonLink()"
      [state]="{ back }"
      [disabled]="
        seasons() ? seasonNumber() === seasons()![seasons()!.length - 1].number + '' : false
      "
      data-test-id="next-button"
      #nextButton
    >
      <mat-icon>navigate_next</mat-icon>
    </a>
  </div>
</div>

<mat-progress-bar
  class="progress-bar"
  mode="determinate"
  [value]="seasonProgress() ? (seasonProgress()!.completed / episodesAired()) * 100 : 0"
  aria-label="Season episodes watched percentage"
></mat-progress-bar>
