<ng-container *ngIf="seasonProgress || season">
  <h3 class="mat-subheading-1 title">
    Season {{ seasonProgress?.number ?? season?.season_number }}
    <span class="episodes-text">
      <ng-container *ngIf="seasonProgress">
        ({{ seasonProgress.completed }}/{{ seasonProgress.aired }})
      </ng-container>
      <ng-container *ngIf="!seasonProgress && season">
        ({{ season.episode_count }} episodes)
      </ng-container>
    </span>
  </h3>
  <mat-progress-bar
    mode="determinate"
    [value]="!seasonProgress ? 0 : (seasonProgress.completed / seasonProgress.aired) * 100"
  ></mat-progress-bar>
</ng-container>
