<t-loading [loadingState]="pageState">
  <t-episode-header
    *ngIf="params$ | async as params"
    [breadcrumbParts]="breadcrumbParts"
    [episode]="episode$ | async"
    [tmdbEpisode]="tmdbEpisode$ | async"
    [episodeProgress]="episodeProgress$ | async"
    [episodeNumber]="params.episode"
    [seasonNumber]="params.season"
    [showSlug]="params.show"
    [episodes]="seasonEpisodes$ | async"
  ></t-episode-header>

  <t-loading [loadingState]="episodeState">
    <t-episode
      [show]="show$ | async"
      [episode]="episode$ | async"
      [episodeProgress]="episodeProgress$ | async"
      [tmdbEpisode]="tmdbEpisode$ | async"
      [isSeenLoading]="(seenState | async) === state.LOADING"
      (add)="executeService.addEpisode($event.episode, $event.show, seenState)"
      (remove)="executeService.removeEpisode($event.episode, $event.show, seenState)"
    ></t-episode>
  </t-loading>
</t-loading>
