<t-loading [loadingState]="pageState">
  <t-episode-header
    *ngIf="episodeInfo && params"
    [breadcrumbParts]="breadcrumbParts"
    [episode]="episodeInfo.episode"
    [tmdbEpisode]="episodeInfo.tmdbEpisode"
    [episodeProgress]="episodeInfo.episodeProgress"
    [episodeNumber]="params.episode"
    [seasonNumber]="params.season"
    [showSlug]="params.show"
    [episodes]="episodeInfo.episodes"
  ></t-episode-header>

  <t-loading [loadingState]="episodeState">
    <t-episode
      *ngIf="episodeInfo && episodeInfo.episode && episodeInfo.show"
      [show]="episodeInfo.show"
      [episode]="episodeInfo.episode"
      [episodeProgress]="episodeInfo.episodeProgress"
      [tmdbEpisode]="episodeInfo.tmdbEpisode"
      [isSeenLoading]="(seenState | async) === state.LOADING"
      (add)="executeService.addEpisode(episodeInfo.episode, episodeInfo.show, seenState)"
      (remove)="executeService.removeEpisode(episodeInfo.episode, episodeInfo.show, seenState)"
    ></t-episode>
  </t-loading>
</t-loading>
