<t-loading [loadingState]="loadingState">
  <ng-container *ngIf="episodeInfo as info">
    <t-breadcrumb [parts]="breadcrumbParts"></t-breadcrumb>

    <div class="title-wrapper">
      <h1 class="mat-headline title">
        {{
          info.episode?.title ?? info.tmdbEpisode?.name ?? 'Episode ' + info.episodeProgress?.number
        }}
      </h1>
      <h2 *ngIf="info.episode?.first_aired" class="mat-subheading-1 subtitle">
        {{ info.episode?.first_aired | date: 'd. MMM. yyyy (E.)' }}
      </h2>
    </div>

    <t-episode
      [params]="$any(params)"
      [show]="info.show"
      [episode]="info.episode"
      [episodeProgress]="info.episodeProgress"
      [tmdbEpisode]="info.tmdbEpisode"
      [imgPrefix]="stillPrefix"
      [isSeenLoading]="(seenLoading | async) === loadingStateEnum.LOADING"
      (add)="executeService.addEpisode(info.episode, info.show?.ids, seenLoading)"
      (remove)="executeService.removeEpisode(info.episode, info.show?.ids, seenLoading)"
    ></t-episode>
  </ng-container>
</t-loading>
