<nav *ngIf="lists" mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let list of lists; let i = index"
    (click)="router.navigate([], { queryParams: { slug: list.ids.slug } }); activeListIndex = i"
    [active]="activeListIndex === i"
  >
    {{ list.name }}
  </a>
</nav>

<mat-tab-nav-panel #tabPanel class="list">
  <app-loading [loadingState]="loadingState">
    <app-shows [showsInfos]="showsInfos" [tmdbConfig]="tmdbService.tmdbConfig$ | async"></app-shows>
  </app-loading>
</mat-tab-nav-panel>

<button
  *ngIf="activeListIndex !== undefined"
  mat-fab
  color="primary"
  class="fab"
  aria-label="Add list items"
  (click)="dialogService.manageListItemsViaDialog(lists?.[activeListIndex])"
>
  <mat-icon>add</mat-icon>
</button>
