@import 'src/styles';

:host {
  @include container;
}

.header {
  display: grid;
  grid-template-columns: 185px 1fr;
  gap: 3rem;
  margin-bottom: 4rem;
}

.next-episode {
  margin-bottom: 4rem;

  .still {
    max-width: 100%;
    height: 28.125rem;
    display: block;
  }
}

mat-list-item.season {
  height: 5rem;
  cursor: default;
  user-select: none;
}
