<div class="poster">
  <img
    *ngIf="
      posterPrefixLg && (tmdbSeason?.poster_path || tmdbShow?.poster_path) as posterPath;
      else imgFallback
    "
    [src]="posterPrefixLg + posterPath"
    width="185"
    height="278"
    [attr.loading]="initialIndex !== undefined && initialIndex <= 4 ? null : 'lazy'"
    [attr.fetchpriority]="initialIndex !== undefined && initialIndex <= 4 ? 'high' : null"
    [alt]="tmdbShow || show ? (tmdbShow?.name || show?.title) + ' Poster' : 'Poster'"
    (load)="posterLoaded = true"
  />
  <ng-template #imgFallback>
    <img
      ngSrc="../../../../../assets/poster.png"
      width="154"
      height="231"
      [priority]="initialIndex !== undefined && initialIndex <= 4"
      alt="Poster"
      (load)="posterLoaded = true"
    />
  </ng-template>
</div>

<t-show-item-content
  [isLoggedIn]="isLoggedIn"
  [show]="show"
  [showWatched]="showWatched"
  [showProgress]="progress"
  [tmdbShow]="tmdbShow"
  [tmdbSeason]="tmdbSeason"
  [isFavorite]="isFavorite"
  [episode]="episode"
  [withYear]="withYear"
  [withEpisode]="withEpisode"
  [withEpisodesCount]="withEpisodesCount"
  [withProgressbar]="withProgressbar"
  [withRelativeDate]="withRelativeDate"
  (addFavorite)="addFavorite.emit($event)"
  (removeFavorite)="removeFavorite.emit($event)"
/>

<div *ngIf="isLoggedIn" class="show-button">
  <ng-container *ngIf="withAddButtons && show">
    <button
      *ngIf="progress || showWatched"
      mat-icon-button
      aria-label="Show added"
      disabled
      data-test-id="show-added"
    >
      <mat-icon>checkbox</mat-icon>
    </button>
    <button
      *ngIf="isWatchlist !== undefined && !(progress || showWatched)"
      mat-icon-button
      [attr.aria-label]="isWatchlist ? 'Remove show' : 'Add show'"
      (click)="preventEvent($event); isWatchlist ? removeShow.emit(show) : addShow.emit(show)"
      [attr.data-test-id]="isWatchlist ? 'remove-button' : 'add-button'"
    >
      <mat-icon>{{ isWatchlist ? 'remove' : 'add' }}</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="!withAddButtons && menu && show">
    <button
      mat-icon-button
      aria-label="Menu"
      (click)="preventEvent($event)"
      [matMenuTriggerFor]="menu"
      [matMenuTriggerData]="{ show, isFavorite, isHidden }"
      data-test-id="show-item-menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
</div>
