<h1 mat-dialog-title>Create list</h1>
<div mat-dialog-content>
  <form class="list-form" (ngSubmit)="createList()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        #nameInput
        matInput
        type="text"
        enterkeyhint="done"
        name="name"
        [(ngModel)]="name"
        (keyup.enter)="nameInput.blur()"
        cdkFocusInitial
        data-test-id="add-list"
      />
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="end">
  <button matButton (click)="dialogRef.close()">Cancel</button>
  <button matButton (click)="createList()">Create</button>
</mat-dialog-actions>
