<form class="search-form" (ngSubmit)="searchSubmitted($event)">
  <mat-form-field class="form-field" appearance="fill" color="accent">
    <mat-label>Search shows...</mat-label>
    <input
      #searchInput
      matInput
      type="search"
      enterkeyhint="search"
      name="search"
      [value]="searchValue"
      (keyup.enter)="searchInput.blur()"
      data-test-id="add-show-search"
    />
  </mat-form-field>
</form>

<mat-chip-listbox *ngIf="!searchValue" aria-label="Show selection" class="show-selection">
  <mat-chip-option
    *ngFor="let chip of chips; let i = index"
    color="accent"
    (click)="changeShowsSelection(chip)"
    [selected]="chip.slug === activeSlug"
  >
    {{ chip.name }}
  </mat-chip-option>
</mat-chip-listbox>

<t-loading [loadingState]="pageState">
  <t-shows
    [isLoggedIn]="authService.isLoggedIn$ | async"
    [showsInfos]="showsInfos"
    [withYear]="true"
    [withEpisodesCount]="true"
    [withAddButtons]="true"
    [back]="router.url"
    (add)="executeService.addToWatchlist($event)"
    (remove)="executeService.removeFromWatchlist($event)"
  ></t-shows>
</t-loading>
