<app-shows
  [shows]="shows"
  [isLoading]="isLoading"
  [tmdbConfig]="tmdbService.tmdbConfig$ | async"
  [withEpisode]="true"
  [withEpisodesCount]="true"
  [withProgressbar]="true"
  [withMenuButton]="true"
  (addFavorite)="showService.addFavorite($event)"
  (removeFavorite)="showService.removeFavorite($event)"
  (removeShow)="showService.removeNewShow($event)"
  (manageLists)="showService.manageLists($event)"
></app-shows>
<a mat-fab color="primary" class="fab" aria-label="Add show" routerLink="/add-series">
  <mat-icon>add</mat-icon>
</a>
