@import 'src/app/shared/styles';

:host {
  @include container;
}

.fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  @media (min-width: $breakpoint-sm) {
    bottom: 2rem;
    right: 2rem;
  }
}
