@import 'src/app/shared/styles';

:host {
  @include container;
}

.shows {
  margin-top: -1rem;
}

mat-list-item.show {
  padding: 0.2rem 0;

  &.loading-item {
    @include center;
  }
}

.loading-title {
  margin-bottom: 0;
}
