@if (!isLoading()) {
  @if (nextEpisode()?.[0] !== null && episodes()) {
    <h2 class="mat-subtitle-1 next-text">
      Next episode
      @if (showProgress() || tmdbShow()) {
        <t-episode-count
          [showProgress]="showProgress()"
          [nextEpisode]="nextEpisode()"
          [tmdbSeason]="tmdbSeason()"
          [episodes]="episodes()"
          withDividerLeft
          class="subtitle"
        />
      }
    </h2>

    @if (show() && tmdbShow()) {
      <t-episode
        [isLoggedIn]="!!isLoggedIn()"
        [show]="show()"
        [episode]="nextTraktEpisode()"
        [tmdbEpisode]="nextEpisode()?.[1]"
        [isNewShow]="isNewShow()"
        [isSeenLoading]="seenLoading() === state.LOADING"
        withLink
        (addEpisode)="addEpisode.emit($event)"
        (removeEpisode)="removeEpisode.emit($event)"
      />
    }
  }
  @if (!episodes() || (showWatched() && nextEpisode()?.[0] === null && !isShowEnded())) {
    <h3 class="mat-subtitle-1 no-next-episode">No next episode.</h3>
  }
} @else {
  <div class="loading">...</div>
}
