<t-loading [loadingState]="pageState">
  <ng-container *ngIf="lists">
    <nav *ngIf="lists.length; else noList" mat-tab-nav-bar [tabPanel]="tabPanel" color="accent">
      <a
        mat-tab-link
        *ngFor="let list of lists; let i = index"
        [active]="activeListIndex === i"
        [routerLink]="[]"
        [queryParams]="{ slug: list.ids.slug }"
      >
        {{ list.name }}
      </a>
    </nav>
  </ng-container>

  <mat-tab-nav-panel #tabPanel class="list">
    <t-loading *ngIf="lists?.length" [loadingState]="listItemsLoadingState">
      <t-shows [showsInfos]="showsInfos"></t-shows>
    </t-loading>
  </mat-tab-nav-panel>

  <button
    *ngIf="activeListIndex !== undefined"
    mat-fab
    color="primary"
    class="fab"
    aria-label="Add list items"
    (click)="dialogService.manageListItems(lists?.[activeListIndex])"
  >
    <mat-icon>add</mat-icon>
  </button>
</t-loading>

<ng-template #noList>
  <div class="list">
    <h2 class="mat-subheading-1">No list added.</h2>
  </div>
</ng-template>
