<app-loading [loadingState]="loadingState">
  <ng-container *ngIf="episodeInfo && params">
    <app-breadcrumb [parts]="breadcrumbParts"></app-breadcrumb>

    <div class="title-wrapper">
      <h1 class="mat-headline title">
        {{
          episodeInfo.episode?.title ??
            episodeInfo.tmdbEpisode?.name ??
            'Episode ' + episodeInfo.episodeProgress?.number
        }}
      </h1>
      <h2 *ngIf="episodeInfo.episode?.first_aired" class="mat-subheading-1 subtitle">
        {{ episodeInfo.episode?.first_aired | date: 'd. MMM. yyyy (E.)' }}
      </h2>
    </div>

    <app-episode
      *ngIf="episodeInfo.show && episodeInfo.show.ids"
      [params]="$any(params)"
      [show]="episodeInfo.show"
      [episode]="episodeInfo.episode"
      [episodeProgress]="episodeInfo.episodeProgress"
      [tmdbEpisode]="episodeInfo.tmdbEpisode"
      [imgPrefix]="stillPrefix"
      (addToHistory)="
        episodeInfo.episode &&
          syncService.syncAddToHistory(episodeInfo.show.ids, episodeInfo.episode)
      "
      (removeFromHistory)="
        episodeInfo.episode &&
          syncService.syncRemoveFromHistory(episodeInfo.show.ids, episodeInfo.episode)
      "
    ></app-episode>
  </ng-container>
</app-loading>
