@use '../../shared/styles/mixins' as mixins;

:host {
  @include mixins.container;
}

.statistic {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

.statistic-text {
  margin: 0;
}

.subtext {
  color: var(--text-color-2);
}

.progress-bar {
  margin: 0.5rem 0 1rem;
}
