<h2 class="mat-title-small">Shows</h2>

<div class="statistic">
  <p class="mat-title-large statistic-text">
    {{ showStats().showsEndedCount }} / {{ showStats().showsCount }}
  </p>
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="(showStats().showsEndedCount / showStats().showsCount) * 100"
    aria-label="Shows ended percentage of all shows added"
  />
  <p class="mat-body-medium">{{ showStats().showsReturningCount }} shows running</p>
  <p class="mat-body-medium">{{ showStats().showsWithNextEpisodeCount }} shows with next episode</p>
</div>

<h2 class="mat-title-small">Episodes</h2>

<div class="statistic">
  <p class="mat-title-large statistic-text" title="Includes hidden shows">
    {{ episodeStats().watchedEpisodesCount }} / {{ episodeStats().episodesCount }}
    <span class="mat-title-medium statistic-text subtext" title="Excludes hidden shows">
      {{ episodeStats().notHiddenEpisodesCount - episodeStats().notHiddenWatchedEpisodesCount }}
      remaining
    </span>
  </p>
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="(episodeStats().watchedEpisodesCount / episodeStats().episodesCount) * 100"
    aria-label="Watched episodes percentage of all aired episodes"
  />
</div>

<h2 class="mat-title-small">Watched</h2>

@if (statsQuery.isPending()) {
  <t-spinner />
}

@if (statsQuery.isError()) {
  <p class="mat-body-medium">An error occurred.</p>
}

@if (statsQuery.isSuccess()) {
  <div class="statistic">
    <p class="mat-title-large statistic-text">
      {{ daysWatched() }}
    </p>
  </div>
}
