<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let list of lists"
    (click)="router.navigateByUrl('/lists?slug=' + list.ids.slug); activeList = list"
    [active]="activeList === list"
  >
    {{ list.name }}
  </a>
</nav>

<mat-tab-nav-panel #tabPanel class="list">
  <app-loading [loadingState]="loadingState">
    <app-shows [shows]="shows" [tmdbConfig]="tmdbService.tmdbConfig$ | async"></app-shows>
  </app-loading>
</mat-tab-nav-panel>

<button
  *ngIf="activeList"
  mat-fab
  color="primary"
  class="fab"
  aria-label="Add list items"
  (click)="dialogService.manageListItemsViaDialog(this.activeList)"
>
  <mat-icon>add</mat-icon>
</button>
