<div *ngIf="show" class="header">
  <img
    *ngIf="tmdbConfig && show"
    [src]="tmdbConfig.images.secure_base_url + tmdbConfig.images.poster_sizes[2] + show.poster_path"
    [alt]="show.name + ' Poster'"
    class="poster"
  />
  <div>
    <h2 class="mat-headline">{{ show.name }}</h2>
    <p class="mat-body">{{ show.overview }}</p>
  </div>
</div>

<div *ngIf="progress" class="next-episode">
  <ng-container *ngIf="progress.next_episode && tmdbConfig && nextEpisode">
    <h3 class="mat-subheading-2">
      Next episode: S{{ progress.next_episode.season }}E{{ progress.next_episode.number }}
      {{ progress.next_episode.title }}
    </h3>
    <img
      *ngIf="nextEpisode.still_path"
      [src]="
        tmdbConfig.images.secure_base_url +
        tmdbConfig.images.still_sizes[3] +
        nextEpisode.still_path
      "
      alt="Episode still"
      class="still"
    />
    <button
      *ngIf="watched"
      mat-flat-button
      color="primary"
      (click)="addToHistory(progress.next_episode, watched)"
    >
      Mark as seen
    </button>
  </ng-container>

  <p *ngIf="!progress.next_episode">No next episode</p>
</div>

<mat-list *ngIf="progress && watched">
  <mat-list-item
    *ngFor="let season of progress.seasons"
    class="season"
    matRipple
    [routerLink]="'/series/' + watched.show.ids.slug + '/season/' + season.number"
  >
    <app-season-item [season]="season"></app-season-item>
  </mat-list-item>
</mat-list>
