<ng-container *ngIf="showInfo">
  <div *ngIf="showInfo.tmdbShow" class="header">
    <img
      *ngIf="tmdbConfig"
      [src]="
        tmdbConfig.images.secure_base_url +
        tmdbConfig.images.poster_sizes[2] +
        showInfo.tmdbShow.poster_path
      "
      [alt]="showInfo.tmdbShow.name + ' Poster'"
      class="poster"
      loading="lazy"
    />
    <div>
      <h4 class="mat-subheading-1 small-text">
        {{ showInfo.tmdbShow.status }} · {{ showInfo.tmdbShow.networks[0].name }}
      </h4>
      <h2 class="mat-headline">{{ showInfo.showTranslation?.title || showInfo.tmdbShow.name }}</h2>
      <p class="mat-body">{{ showInfo.showTranslation?.overview || showInfo.tmdbShow.overview }}</p>
    </div>
  </div>

  <div *ngIf="showInfo.show && showInfo.tmdbShow" class="next-episode">
    <ng-container *ngIf="showInfo.nextEpisode && showInfo.tmdbNextEpisode && tmdbConfig">
      <a
        class="mat-subheading-2 next-episode-text"
        [routerLink]="
          '/series/s/' +
          showInfo.show.ids.slug +
          '/season/' +
          showInfo.nextEpisode.season +
          '/episode/' +
          showInfo.nextEpisode.number
        "
      >
        Next episode: S{{ showInfo.nextEpisode.season | number: '2.0-0' }}E{{
          showInfo.nextEpisode.number | number: '2.0-0'
        }}
        {{ showInfo.nextEpisodeTranslation?.title || showInfo.nextEpisode.title }}
      </a>
      <app-episode
        [show]="showInfo.show"
        [episode]="showInfo.nextEpisode"
        [episodeTranslation]="showInfo.nextEpisodeTranslation"
        [episodeProgress]="showInfo?.showProgress?.seasons?.[showInfo.nextEpisode.season - 1]?.episodes?.[showInfo.nextEpisode.number - 1]"
        [tmdbEpisode]="showInfo.tmdbNextEpisode"
        [imgPrefix]="tmdbConfig.images.secure_base_url + tmdbConfig.images.still_sizes[3]"
        (addToHistory)="addToHistory(showInfo)"
      ></app-episode>
    </ng-container>

    <h3
      class="mat-subheading-2"
      *ngIf="
        showInfo.showWatched &&
        !showInfo.nextEpisode &&
        !['Ended', 'Canceled'].includes(showInfo.tmdbShow.status)
      "
    >
      No next episode
    </h3>
  </div>

  <mat-list *ngIf="showInfo.show && showInfo.showProgress">
    <mat-list-item
      *ngFor="let seasonProgress of showInfo.showProgress.seasons"
      matRipple
      [routerLink]="'/series/s/' + showInfo.show.ids.slug + '/season/' + seasonProgress.number"
    >
      <app-season-item [seasonProgress]="seasonProgress"></app-season-item>
    </mat-list-item>
  </mat-list>

  <mat-list *ngIf="showInfo.tmdbShow && (!showInfo || !showInfo.showProgress)">
    <mat-list-item *ngFor="let season of showInfo.tmdbShow.seasons | hideSeason0">
      <app-season-item [season]="season"></app-season-item>
    </mat-list-item>
  </mat-list>
</ng-container>
