<div *ngIf="show" class="header">
  <img
    *ngIf="tmdbConfig && show"
    [src]="tmdbConfig.images.secure_base_url + tmdbConfig.images.poster_sizes[2] + show.poster_path"
    [alt]="show.name + ' Poster'"
    class="poster"
  />
  <div>
    <h2 class="mat-headline">{{ show.name }}</h2>
    <p class="mat-body">{{ show.overview }}</p>
  </div>
</div>

<div *ngIf="showProgress" class="next-episode">
  <ng-container
    *ngIf="showProgress.next_episode && nextEpisode && tmdbNextEpisode && watched && tmdbConfig"
  >
    <h3
      class="mat-subheading-2 next-episode-text"
      [routerLink]="
        '/series/' +
        watched.show.ids.slug +
        '/season/' +
        nextEpisode.season +
        '/episode/' +
        nextEpisode.number
      "
    >
      Next episode: S{{ nextEpisode.season }}E{{ nextEpisode.number }}
      {{ nextEpisode.title }}
    </h3>
    <app-episode
      [episode]="nextEpisode"
      [episodeProgress]="
        showProgress.seasons[showProgress.next_episode.season - 1].episodes[
          showProgress.next_episode.number - 1
        ]
      "
      [tmdbEpisode]="tmdbNextEpisode"
      [imgPrefix]="tmdbConfig.images.secure_base_url + tmdbConfig.images.still_sizes[3]"
      (addToHistory)="syncService.syncAddToHistory(nextEpisode, watched)"
      (removeFromHistory)="syncService.syncRemoveFromHistory(nextEpisode, watched)"
    ></app-episode>
  </ng-container>

  <h3 class="mat-subheading-2" *ngIf="!showProgress.next_episode">No next episode</h3>
</div>

<mat-list *ngIf="showProgress && watched">
  <mat-list-item
    *ngFor="let season of showProgress.seasons"
    class="season"
    matRipple
    [routerLink]="'/series/' + watched.show.ids.slug + '/season/' + season.number"
  >
    <app-season-item [season]="season"></app-season-item>
  </mat-list-item>
</mat-list>
