@import '../../../styles';

:host {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    gap: 0.5rem;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .title:hover {
    cursor: pointer;
  }

  &:hover .add-favorite {
    display: flex;
  }
}

.top-subtitle,
.next-episode-date,
.show-status,
.show-meta {
  color: var(--text-color-2);
}

.top-subtitle,
.next-episode-text,
.next-episode-date,
.show-meta,
.show-status,
.title {
  margin: 0;
}

.next-episode-text {
  margin-top: 0.25rem;
}

.favorite-button {
  --icon-size: 0.75rem;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: var(--icon-size);
  padding: 0;

  @media (min-width: $breakpoint-sm) {
    --icon-size: 1rem;
  }

  &.add-favorite {
    display: none;
  }

  .favorite-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-size);
    line-height: var(--icon-size);
  }
}
