<p class="mat-label-small top-subtitle" ticker>
  @if (tmdbShow() !== undefined) {
    @if (tmdbShow()) {
      @if (withEpisodesCount()) {
        <t-episode-count
          [showProgress]="showProgress()"
          [nextEpisode]="episode()"
          [tmdbSeason]="tmdbSeason() ?? undefined"
          [episodes]="episodes()"
          [withDividerRight]="!!network()"
        />
      }
      @if (network()) {
        {{ network() }}
      }
    }
  } @else {
    &nbsp;
  }
</p>

@if (show(); as show) {
  <div class="title-wrapper">
    <h2 class="mat-title-medium title" ticker>
      {{ tmdbShow()?.name || show.title }}
      {{ withYear() && show.year !== null ? ' (' + show.year + ')' : '' }}
    </h2>
    @if (isLoggedIn()) {
      <button
        matIconButton
        aria-label="Favorite"
        class="favorite-button"
        [class.add-favorite]="!isFavorite()"
        (click)="
          preventEvent($event); isFavorite() ? removeFavorite.emit(show) : addFavorite.emit(show)
        "
      >
        <mat-icon class="favorite-icon">{{ isFavorite() ? 'star' : 'star_outline' }}</mat-icon>
      </button>
    }
  </div>
}
@if (withProgressbar() && showProgress() && showWatched()) {
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="progress()"
    aria-label="Shows episodes completed percentage of all aired episodes"
  />
}
@if (withEpisode()) {
  @if (episode()) {
    <p class="mat-label-small next-episode-text" ticker>
      S{{ episode()!.season | number: '2.0-0' }}E{{ episode()!.number | number: '2.0-0' }}
      {{ episode()!.title }}
    </p>
    <p class="mat-label-small next-episode-date" ticker>
      {{
        withRelativeDate() && episode()?.first_aired ? firstAiredRelativeDate() : firstAiredDate()
      }}
    </p>
  }
  @if (!episode() && !isShowEnded()) {
    <p class="mat-label-small show-status">{{ tmdbShow()?.status }}</p>
  }
}
@if (showMeta() && showMeta()!.length > 0) {
  @for (meta of showMeta(); track meta.name) {
    <p class="mat-label-small show-meta" ticker>
      {{ meta.name }}
    </p>
  }
}
