@use '../../../styles/variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  overflow: hidden;

  @media (min-width: vars.$breakpoint-sm) {
    gap: 0.5rem;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &:hover .add-favorite {
    display: flex;
  }
}

.title:hover {
  cursor: pointer;
}

.top-subtitle,
.next-episode-date,
.show-status,
.show-meta {
  color: var(--text-color-2);
}

.top-subtitle,
.next-episode-text,
.next-episode-date,
.show-meta,
.show-status,
.title {
  margin: 0;
}

.progress-bar {
  margin-bottom: 0.25rem;
}

.favorite-button {
  --icon-size: 1rem;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: var(--icon-size);
  padding: 0;
  bottom: 0.0625rem;

  @media (min-width: vars.$breakpoint-sm) {
    --icon-size: 1.25rem;
  }

  &.add-favorite {
    display: none;
  }

  .favorite-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-size);
    line-height: var(--icon-size);
  }
}
