@import '../../../styles';

:host {
  display: block;
  width: 100%;
  overflow: hidden;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  --icon-size: 1rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0.5rem;
    --icon-size: 1.25rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 0.75rem;
  }

  .title {
    margin-bottom: 0;
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    @media (min-width: $breakpoint-sm) {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .favorite-button {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-size);
    padding: 0;
  }

  .favorite-button.remove {
    display: none;
  }

  &:hover .favorite-button.remove {
    display: flex;
  }

  .favorite-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-size);
    line-height: var(--icon-size);
  }
}

.progress-bar {
  margin-bottom: 0.25rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0.75rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 1rem;
  }
}

.top-subtitle {
  margin: 0 0 0.25rem;
  color: var(--text-color-2);

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0.5rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 0.75rem;
  }
}

.next-episode-text,
.show-meta {
  margin: 0;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0.25rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 0.5rem;
  }
}

.next-episode-date {
  margin: 0;
  color: var(--text-color-2);

  @media (min-width: $breakpoint-sm) {
    margin-top: 0.25rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 0.5rem;
  }
}

.show-status {
  margin: 0;
  color: var(--text-color-2);
}

.show-meta {
  color: var(--text-color-2);
}
