<h2 class="mat-title-medium">Links</h2>
<div class="links tertiary-button">
  @if (tmdbShow()?.homepage) {
    <a matButton="outlined" [href]="tmdbShow()?.homepage" target="_blank" rel="noopener norefferer">
      Website
    </a>
  }
  @if (show()?.ids?.slug) {
    <a
      matButton="outlined"
      [href]="'https://trakt.tv/shows/' + show()?.ids?.slug"
      target="_blank"
      rel="noopener norefferer"
      >Trakt</a
    >
  }
  @if (show()?.ids?.tmdb) {
    <a
      matButton="outlined"
      [href]="'https://www.themoviedb.org/tv/' + show()?.ids?.tmdb"
      target="_blank"
      rel="noopener norefferer"
      >TMDB</a
    >
  }
  @if (show()?.ids?.imdb) {
    <a
      matButton="outlined"
      [href]="'https://imdb.com/title/' + show()?.ids?.imdb"
      target="_blank"
      rel="noopener norefferer"
      >IMDB</a
    >
  }
  @if (show()?.ids?.tvdb) {
    <a
      matButton="outlined"
      [href]="'https://www.thetvdb.com/dereferrer/series/' + show()?.ids?.tvdb"
      target="_blank"
      rel="noopener norefferer"
      >TVDB</a
    >
  }
  @if (tmdbShow()?.external_ids?.twitter_id) {
    <a
      matButton="outlined"
      [href]="'https://www.twitter.com/' + tmdbShow()?.external_ids?.twitter_id"
      target="_blank"
      rel="noopener norefferer"
      >Twitter</a
    >
  }
  @if (tmdbShow()?.external_ids?.instagram_id) {
    <a
      matButton="outlined"
      [href]="'https://www.instagram.com/' + tmdbShow()?.external_ids?.instagram_id"
      target="_blank"
      rel="noopener norefferer"
      >Instagram</a
    >
  }
  @if (tmdbShow()?.external_ids?.facebook_id) {
    <a
      matButton="outlined"
      [href]="'https://www.facebook.com/' + tmdbShow()?.external_ids?.facebook_id"
      target="_blank"
      rel="noopener norefferer"
      >Facebook</a
    >
  }
</div>
