<button
  *ngIf="!isLoggedIn"
  mat-raised-button
  color="primary"
  (click)="login()"
  class="login-button"
>
  Login to Trakt
</button>

<mat-list class="shows">
  <mat-list-item *ngFor="let show of shows" class="show" matRipple>
    <img
      *ngIf="tmdbConfig && tmdbShows && tmdbShows[show.showWatched.show.ids.tmdb]"
      [src]="
        tmdbConfig.images.secure_base_url +
        tmdbConfig.images.poster_sizes[1] +
        tmdbShows[show.showWatched.show.ids.tmdb].poster_path
      "
      [alt]="tmdbShows[show.showWatched.show.ids.tmdb].name + ' Poster'"
      class="poster"
      [routerLink]="'/series/' + show.showWatched.show.ids.slug"
    />
    <div class="right">
      <div class="title-wrapper">
        <h2 class="title" [routerLink]="'/series/' + show.showWatched.show.ids.slug">
          {{ show.showWatched.show.title }}
        </h2>
        <button
          *ngIf="favorites.includes(show.showWatched.show.ids.trakt)"
          mat-icon-button
          aria-label="Favorite"
          class="favorite-button"
          (click)="showService.removeFavorite(show.showWatched.show.ids.trakt)"
        >
          <mat-icon>star</mat-icon>
        </button>
        <button
          *ngIf="!favorites.includes(show.showWatched.show.ids.trakt)"
          mat-icon-button
          aria-label="Favorite"
          class="favorite-button remove"
          (click)="showService.addFavorite(show.showWatched.show.ids.trakt)"
        >
          <mat-icon>star_outline</mat-icon>
        </button>
      </div>

      <mat-progress-bar
        mode="determinate"
        [value]="(show.showProgress.completed / show.showProgress.aired) * 100"
      ></mat-progress-bar>
      <p>
        Watched {{ show.showProgress.completed }} of {{ show.showProgress.aired }} episodes ({{
          show.showProgress.completed / show.showProgress.aired | percent
        }})
      </p>
      <p *ngIf="show.showProgress.next_episode">
        Next episode: S{{ show.showProgress.next_episode.season }}E{{
          show.showProgress.next_episode.number
        }}
        {{ show.showProgress.next_episode.title }}
      </p>
      <p *ngIf="!show.showProgress.next_episode">No next episode</p>
    </div>
  </mat-list-item>
</mat-list>
