<button
  *ngIf="!isLoggedIn"
  mat-raised-button
  color="primary"
  (click)="login()"
  class="login-button"
>
  Login to Trakt
</button>

<mat-list class="shows">
  <mat-list-item
    *ngFor="let show of shows"
    class="show"
    matRipple
    [routerLink]="'/series/' + show.showWatched.show.ids.slug"
  >
    <img
      *ngIf="config && tmdbShows && tmdbShows[show.showWatched.show.ids.tmdb]"
      [src]="
        config.images.secure_base_url +
        config.images.poster_sizes[1] +
        tmdbShows[show.showWatched.show.ids.tmdb].poster_path
      "
      [alt]="tmdbShows[show.showWatched.show.ids.tmdb].name + ' Poster'"
      class="poster"
    />
    <div>
      <h2>{{ show.showWatched.show.title }}</h2>
      <mat-progress-bar
        mode="determinate"
        [value]="(show.showProgress.completed / show.showProgress.aired) * 100"
      ></mat-progress-bar>
      <p>
        Watched {{ show.showProgress.completed }} of {{ show.showProgress.aired }} episodes ({{
          show.showProgress.completed / show.showProgress.aired | percent
        }})
      </p>
      <p *ngIf="show.showProgress.next_episode">
        Next episode: S{{ show.showProgress.next_episode.season }}E{{
          show.showProgress.next_episode.number
        }}
        {{ show.showProgress.next_episode.title }}
      </p>
      <p *ngIf="!show.showProgress.next_episode">No next episode</p>
    </div>
  </mat-list-item>
</mat-list>
