@import 'src/styles';

:host {
  @include container;
}

.login-button {
  display: block;
  margin: 1rem auto 0 auto;
}

.shows {
  margin-bottom: 1rem;
}

mat-list-item.show {
  height: 15rem;
  cursor: default;
}

.poster {
  margin-right: 1rem;
}
