:host {
  display: block;
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

.login-button {
  display: block;
  margin: 1rem auto 0 auto;
}

.series-all {
  margin-bottom: 1rem;
}

mat-list-item.series {
  height: 15rem;
  cursor: default;
}

.poster {
  margin-right: 1rem;
}
