<ng-container *ngIf="(episode() !== null || tmdbEpisode !== null) && show()">
  <a *ngIf="withLink" class="still-wrapper" [routerLink]="episodeLink()" [state]="{ back }">
    <ng-container *ngTemplateOutlet="image" />
  </a>

  <div *ngIf="!withLink" class="still-wrapper">
    <ng-container *ngTemplateOutlet="imageWithLightbox" />
  </div>

  <a class="mat-body-2 title" [routerLink]="episodeLink()" [state]="{ back }">
    <ng-container *ngIf="episode() as episode; else episodeLoading">
      S{{ episode.season | number: '2.0-0' }}E{{ episode.number | number: '2.0-0' }}
      {{ episode.title }}
      <span *ngIf="episode.first_aired" class="subtitle">
        · {{ episode.first_aired | date: 'd. MMM. yyyy (E.)' }}
      </span>
    </ng-container>
    <ng-template #episodeLoading>&nbsp;</ng-template>
  </a>

  <ng-container *ngIf="isLoggedIn && (!isNewShow || (isNewShow && !isInFuture()))">
    <div class="button button-container">
      <div *ngIf="isSeenLoading" class="spinner-container">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
      <button
        mat-flat-button
        color="accent"
        (click)="
          episode()
            ? episodeProgress?.completed
              ? removeEpisode.emit({ episode: episode()!, show: show()! })
              : addEpisode.emit({ episode: episode()!, show: show()! })
            : null
        "
        [disabled]="isSeenLoading || !episode() || isInFuture()"
      >
        {{ episodeProgress?.completed ? 'Mark as unseen' : 'Mark as seen' }}
      </button>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="episode()">
  <p class="mat-body description">
    {{ episode()!.overview || 'No episode description.' }}
  </p>
  <p class="mat-body source">Source: TMDB</p>
</ng-container>

<ng-template #imageWithLightbox>
  <a
    *ngIf="
      ImagePrefixOriginal && (tmdbEpisode === undefined || tmdbEpisode?.still_path);
      else imgFallback
    "
    class="image-link"
    [href]="ImagePrefixOriginal + tmdbEpisode?.still_path"
    [attr.data-pswp-width]="stillWidth ?? 1920"
    [attr.data-pswp-height]="stillHeight ?? 1080"
    data-cropped="true"
    target="_blank"
  >
    <ng-container *ngTemplateOutlet="image" />
  </a>
</ng-template>

<ng-template #image>
  <img
    *ngIf="tmdbEpisode?.still_path; else imgFallback"
    [ngSrc]="ImagePrefixOriginal + tmdbEpisode?.still_path"
    priority
    width="1920"
    height="1080"
    alt="Episode still"
    class="image still-thumbnail"
    (load)="onStillImageLoad()"
    #imageElement
  />
</ng-template>

<ng-template #imgFallback>
  <img ngSrc="assets/still.png" priority width="800" height="450" alt="Still" />
</ng-template>
