@import '../../styles';

.button {
  display: block;
  margin-bottom: 1rem;

  &.button-container {
    display: inline-block;
    position: relative;
    height: rem-convert(36px);
  }
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.source {
  color: var(--text-color-2);
  font-style: italic;
  margin-bottom: 0;
}

.subtitle {
  color: var(--text-color-2);
}

.description {
  margin-top: rem-convert(8px);
}
