@if ((episode() !== null || tmdbEpisode !== null) && show()) {
  <t-episode-still
    [tmdbEpisode]="tmdbEpisode()"
    [withLink]="withLink()"
    [episodeLink]="episodeLink()"
  />

  <a class="mat-body-large title" [routerLink]="episodeLink()" [state]="{ back }">
    @if (episode(); as episode) {
      S{{ episode.season | number: '2.0-0' }}E{{ episode.number | number: '2.0-0' }}
      {{ episode.title }}
      @if (episode.first_aired) {
        <span class="subtitle"> · {{ episode.first_aired | date: 'd. MMM. yyyy (E.)' }} </span>
      }
    } @else {
      &nbsp;
    }
  </a>

  @if (isLoggedIn() && (!isNewShow() || (isNewShow() && !isInFuture()))) {
    <div class="button button-container">
      @if (isSeenLoading()) {
        <div class="spinner-container">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
      }
      <button
        mat-flat-button
        color="accent"
        class="button--accent"
        (click)="
          episode()
            ? episodeProgress()?.completed
              ? removeEpisode.emit({ episode: episode()!, show: show()! })
              : addEpisode.emit({ episode: episode()!, show: show()! })
            : null
        "
        [disabled]="isSeenLoading() || !episode() || isInFuture()"
      >
        {{ episodeProgress()?.completed ? 'Mark as unseen' : 'Mark as seen' }}
      </button>
    </div>
  }
}

@if (episode()) {
  <p class="mat-body-large description">
    {{ episode()!.overview || 'No episode description.' }}
  </p>
  <p class="mat-body-large source">Source: TMDB</p>
}
