@import 'src/app/shared/styles/index';

.still {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
  margin-bottom: rem(8px);

  @media (min-width: $breakpoint-sm) {
    margin-bottom: rem(16px);
  }
}

.mark-button {
  margin-bottom: 1rem;
}

.source {
  color: var(--text-color-2);
  font-style: italic;
}

.subtitle {
  color: var(--text-color-2);
}

.description {
  margin-top: rem(8px);
}
