<ng-container *ngIf="imgPrefix && episode && show">
  <a
    *ngIf="tmdbEpisode?.still_path"
    class="link"
    [routerLink]="
      '/series/s/' + show.ids.slug + '/season/' + episode.season + '/episode/' + episode.number
    "
  >
    <img
      [src]="imgPrefix + tmdbEpisode?.still_path"
      alt="Episode still"
      class="still"
      loading="lazy"
    />
  </a>

  <a
    *ngIf="!tmdbEpisode || !tmdbEpisode.still_path"
    class="link"
    [routerLink]="
      '/series/s/' + show.ids.slug + '/season/' + episode.season + '/episode/' + episode.number
    "
  >
    <img src="assets/still.png" alt="No still for episode" class="still" loading="lazy" />
  </a>

  <button
    *ngIf="!episodeProgress?.completed"
    mat-flat-button
    color="primary"
    (click)="addToHistory.emit()"
    class="mark-button"
  >
    Mark as seen
  </button>
  <button
    *ngIf="episodeProgress?.completed"
    mat-flat-button
    color="primary"
    (click)="removeFromHistory.emit()"
    class="mark-button"
  >
    Mark as unseen
  </button>

  <p class="mat-body">
    {{ episodeTranslation?.overview || episode?.overview || 'No episode description.' }}
  </p>
  <p class="mat-body source">Source: TMDB</p>
</ng-container>
