<ng-container *ngIf="episode !== null && show">
  <a
    *ngIf="withLink"
    class="still-wrapper link"
    [routerLink]="
      show && episode
        ? ({
            show: show | showSlug,
            season: episode.season + '',
            episode: episode.number + ''
          } | ngGenericPipe: paths.episode)
        : null
    "
    [state]="{ back }"
  >
    <ng-container *ngIf="false; else image"></ng-container>
  </a>

  <div *ngIf="!withLink" class="still-wrapper">
    <ng-container *ngIf="withLink; else image"></ng-container>
  </div>

  <a
    class="mat-body-2 title"
    [routerLink]="
      show && episode
        ? ({
            show: show | showSlug,
            season: episode.season + '',
            episode: episode.number + ''
          } | ngGenericPipe: paths.episode)
        : null
    "
    [state]="{ back }"
  >
    <ng-container *ngIf="episode">
      S{{ episode.season | number: '2.0-0' }}E{{ episode.number | number: '2.0-0' }}
      {{ episode.title }}
      <span *ngIf="episode.first_aired" class="subtitle">
        · {{ episode.first_aired | date: 'd. MMM. yyyy (E.)' }}
      </span>
    </ng-container>
    <ng-container *ngIf="!episode">&nbsp;</ng-container>
  </a>

  <ng-container
    *ngIf="isLoggedIn && (!isNewShow || (isNewShow && !(episode?.first_aired | isInFuture)))"
  >
    <div class="button button-container">
      <div *ngIf="isSeenLoading" class="spinner-container">
        <mat-spinner diameter="24" class="spinner"></mat-spinner>
      </div>
      <button
        mat-flat-button
        color="primary"
        (click)="episode ? episodeProgress?.completed ? removeEpisode.emit({episode, show}) : addEpisode.emit({ episode, show }) : null"
        [disabled]="isSeenLoading || !episode || (episode.first_aired | isInFuture)"
      >
        {{ episodeProgress?.completed ? 'Mark as unseen' : 'Mark as seen' }}
      </button>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="episode">
  <p class="mat-body description">
    {{ episode.overview || 'No episode description.' }}
  </p>
  <p class="mat-body source">Source: TMDB</p>
</ng-container>

<ng-template #image>
  <ng-container
    *ngIf="stillPrefix && (tmdbEpisode === undefined || tmdbEpisode?.still_path); else imgFallback"
  >
    <img
      *ngIf="tmdbEpisode?.still_path"
      [src]="stillPrefix + tmdbEpisode?.still_path"
      width="1920"
      height="1080"
      fetchpriority="high"
      alt="Episode still"
      class="still"
      (load)="stillLoaded = true"
      (click)="showImageFunction()"
      (keyup)="showImageFunction()"
    />
  </ng-container>
  <ng-template #imgFallback>
    <img
      ngSrc="assets/still.png"
      width="800"
      height="450"
      priority
      alt="Still"
      (load)="stillLoaded = true"
    />
  </ng-template>
</ng-template>
