@import 'src/app/shared/styles';

.still-link {
  aspect-ratio: 16 / 9;
  margin-bottom: rem(8px);
  overflow: hidden;
  display: flex;
  place-items: center;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: rem(16px);
  }
}

.button {
  display: block;
  margin-bottom: 1rem;

  &.button-container {
    display: inline-block;
    position: relative;
    height: rem(36px);
  }
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep circle {
    stroke: var(--text-color);
  }
}

.source {
  color: var(--text-color-2);
  font-style: italic;
  margin-bottom: 0;
}

.subtitle {
  color: var(--text-color-2);
}

.description {
  margin-top: rem(8px);
}
