<ng-container *ngIf="episode !== null && show">
  <a class="still-link link" [routerLink]="show | link: episode" [class.not-loaded]="!stillLoaded">
    <img
      *ngIf="imgPrefix && tmdbEpisode?.still_path; else imageFallback"
      [rawSrc]="imgPrefix + tmdbEpisode?.still_path"
      width="1920"
      height="1080"
      priority
      alt="Episode still"
      class="still"
      (load)="stillLoaded = true"
    />
    <ng-template #imageFallback>
      <img
        rawSrc="assets/still.png"
        width="800"
        height="450"
        priority
        alt="Still"
        (load)="stillLoaded = true"
      />
    </ng-template>
  </a>

  <a class="mat-subheading-1 title" [routerLink]="show | link: episode">
    <ng-container *ngIf="episode">
      S{{ episode.season | number: '2.0-0' }}E{{ episode.number | number: '2.0-0' }}
      {{ episode.title }}
      <span *ngIf="episode.first_aired" class="subtitle">
        · {{ episode.first_aired | date: 'd. MMM. yyyy (E.)' }}
      </span>
    </ng-container>
    <ng-container *ngIf="!episode">&nbsp;</ng-container>
  </a>

  <div class="button-container">
    <div *ngIf="isSeenLoading" class="spinner-container">
      <mat-spinner diameter="24" class="spinner"></mat-spinner>
    </div>
    <button
      mat-flat-button
      color="primary"
      (click)="episodeProgress?.completed ? remove.emit() : add.emit()"
      [disabled]="isSeenLoading || (episode?.first_aired | isInFuture)"
    >
      {{ episodeProgress?.completed ? 'Mark as unseen' : 'Mark as seen' }}
    </button>
  </div>
</ng-container>

<ng-container *ngIf="episode">
  <p class="mat-body description">
    {{ episode.overview || 'No episode description.' }}
  </p>
  <p class="mat-body source">Source: TMDB</p>
</ng-container>
