<ng-container *ngIf="episode || episodeProgress">
  <h1 class="mat-headline">
    {{ episode?.title || (episodeProgress && 'Episode ' + episodeProgress.number) }}
  </h1>
  <app-episode
    *ngIf="episode && tmdbEpisode && watched && tmdbConfig"
    [episode]="episode"
    [episodeProgress]="episodeProgress"
    [tmdbEpisode]="tmdbEpisode"
    [imgPrefix]="tmdbConfig.images.secure_base_url + tmdbConfig.images.still_sizes[3]"
    (addToHistory)="syncService.syncAddToHistory(episode, watched)"
    (removeFromHistory)="syncService.syncRemoveFromHistory(episode, watched)"
  ></app-episode>
</ng-container>
