@import 'src/app/shared/styles';

:host {
  @include container;
}

.show-title,
.season-title,
.episode-title {
  display: inline-block;
  font-weight: 500;
}

.divider {
  display: inline-block;
  margin: 0 0.5rem;
  cursor: default;
}
