@use '../../styles/variables' as vars;

.sidenav {
  view-transition-name: sidenav;
}

.has-tabs {
  --tab-bar-height: 3rem;
}

.tab-bar-top {
  position: fixed;
  top: var(--toolbar-height);
  z-index: 2;
  view-transition-name: tab-bar-top;
  isolation: isolate;
  contain: paint;
  background: var(--background);
  width: 100%;

  @media (min-width: vars.$breakpoint-lg) {
    width: calc(100% - var(--sidenav-width));
  }
}

.tab-content {
  display: block;
  margin-top: var(--tab-bar-height);
  overflow: hidden;
}
