<t-loading [loadingState]="pageState">
  <t-episode-header
    *ngIf="params()"
    [breadcrumbParts]="breadcrumbParts"
    [episode]="episode$ | async"
    [tmdbEpisode]="tmdbEpisode$ | async"
    [episodeProgress]="episodeProgress$ | async"
    [episodeNumber]="episodeNumber"
    [seasonNumber]="seasonNumber"
    [showSlug]="showSlug"
    [episodes]="seasonEpisodes$ | async"
  />

  <t-loading [loadingState]="episodeState">
    <t-episode
      [isLoggedIn]="authService.isLoggedIn$ | async"
      [show]="show"
      [episode]="episode"
      [episodeProgress]="episodeProgress$ | async"
      [isNewShow]="(showProgress$ | async) === undefined"
      [tmdbEpisode]="tmdbEpisode$ | async"
      [isSeenLoading]="(seenState | async) === state.LOADING"
      (addEpisode)="executeService.addEpisode($event.episode, $event.show, seenState)"
      (removeEpisode)="executeService.removeEpisode($event.episode, $event.show, seenState)"
      (showImage)="showImage($event.url, $event.name)"
    />
  </t-loading>
</t-loading>
