<t-loading [loadingState]="pageState()">
  @if (params()) {
    <t-episode-header
      [breadcrumbParts]="breadcrumbParts"
      [episode]="episode() ?? undefined"
      [tmdbEpisode]="tmdbEpisode() ?? undefined"
      [episodeProgress]="episodeProgress() ?? undefined"
      [episodeNumber]="episodeNumber()"
      [seasonNumber]="seasonNumber()"
      [showSlug]="showSlug()"
      [episodes]="seasonEpisodes() ?? undefined"
    />
  }

  <t-loading [loadingState]="episodeState()">
    <t-episode
      [isLoggedIn]="authService.isLoggedIn()"
      [show]="show()"
      [episode]="episode() ?? undefined"
      [episodeProgress]="episodeProgress() ?? undefined"
      [isNewShow]="showProgress() === undefined"
      [tmdbEpisode]="tmdbEpisode() ?? undefined"
      [isSeenLoading]="seenState() === 'loading'"
      (addEpisode)="executeService.addEpisode($event.episode, $event.show, seenState)"
      (removeEpisode)="executeService.removeEpisode($event.episode, $event.show, seenState)"
    />
  </t-loading>
</t-loading>
