<mat-list *ngIf="showProgress" class="seasons-list">
  <a
    *ngFor="let seasonProgress of showProgress.seasons"
    matRipple
    tHideRippleOnScroll
    [routerLink]="
      { show: show | showSlug, season: seasonProgress.number + '' } | ngGenericPipe: paths.season
    "
    [state]="{ back }"
  >
    <mat-list-item>
      <t-show-season-item [seasonProgress]="seasonProgress" [seasonsEpisodes]="seasonsEpisodes" />
    </mat-list-item>
  </a>
</mat-list>

<mat-list *ngIf="!showProgress && tmdbShow">
  <a
    *ngFor="let season of tmdbShow.seasons"
    matRipple
    tHideRippleOnScroll
    [routerLink]="
      { show: show | showSlug, season: season.season_number + '' } | ngGenericPipe: paths.season
    "
    [state]="{ back }"
  >
    <mat-list-item>
      <t-show-season-item [season]="season" />
    </mat-list-item>
  </a>
</mat-list>
