<ng-container *ngIf="showsInfos">
  <mat-list *ngIf="showsInfos.length; else noShows" class="shows" tTransitionGroup>
    <a
      *ngFor="let showInfo of showsInfos; let i = index; trackBy: id"
      class="show link"
      tTransitionGroupItem
      matRipple
      tHideRippleOnScroll
      [routerLink]="
        showInfo.show
          ? withLinkToEpisode && showInfo.nextEpisode
            ? ({
                show: showInfo.show | showSlug,
                season: showInfo.nextEpisode.season + '',
                episode: showInfo.nextEpisode.number + ''
              } | ngGenericPipe: paths.episode)
            : ({ show: showInfo.show | showSlug } | ngGenericPipe: paths.show)
          : null
      "
      [state]="{ back }"
      data-test-id="show"
    >
      <mat-list-item>
        <t-show-item
          [isLoggedIn]="isLoggedIn"
          [show]="showInfo.show"
          [showWatched]="showInfo.showWatched"
          [progress]="showInfo.showProgress"
          [tmdbShow]="showInfo.tmdbShow"
          [tmdbSeason]="showInfo.tmdbSeason"
          [episode]="showInfo.nextEpisode"
          [isFavorite]="showInfo.isFavorite"
          [isHidden]="showInfo.isHidden"
          [isWatchlist]="!!showInfo.isWatchlist"
          [withYear]="withYear"
          [withEpisode]="withEpisode"
          [withAddButtons]="withAddButtons"
          [withEpisodesCount]="withEpisodesCount"
          [withProgressbar]="withProgressbar"
          [withRelativeDate]="withRelativeDate"
          [menu]="menu"
          (addFavorite)="addFavorite.emit($event)"
          (removeFavorite)="removeFavorite.emit($event)"
          (addShow)="add.emit($event)"
          (removeShow)="remove.emit($event)"
        ></t-show-item>
      </mat-list-item>
    </a>
  </mat-list>
</ng-container>

<ng-template #noShows>
  <h2 class="mat-body-2">No shows in the list.</h2>
  <p>Change the filter.</p>
  <p>Or <a [routerLink]="{} | ngGenericPipe: paths.addShow">add</a> a show.</p>
</ng-template>
