@use '../../styles/mixins' as mixins;

.shows {
  margin-top: -1rem;

  .show-wrapper.move {
    transition: transform 300ms;
  }
}

.loading-item {
  @include mixins.center;
}

.loading-title {
  margin-bottom: 0;
}

.inline-link {
  display: inline;
  text-decoration: underline;
}
