@import 'src/app/shared/styles';

.shows {
  margin-top: -1rem;

  .show.move {
    transition: transform 300ms;
  }
}

mat-list-item.show {
  padding: 0.5rem 0;
}

.loading-item {
  @include center;
}

.loading-title {
  margin-bottom: 0;
}
