@import '../../styles';

.shows {
  margin-top: -1rem;

  .show.move {
    transition: transform 300ms;
  }
}

.loading-item {
  @include center;
}

.loading-title {
  margin-bottom: 0;
}

.inline-link {
  display: inline;
  text-decoration: underline;
}
