@import 'src/app/shared/styles';

:host {
  display: grid;
  grid-template-columns: rem(80px) 1fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: rem(96px) 1fr;
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: rem(154px) 1fr;
  }
}

.poster-wrapper {
  aspect-ratio: 2 / 3;
  cursor: pointer;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  place-items: center;
}

.right {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;

  &.without-gap {
    gap: unset;
  }
}

.left-wrapper {
  overflow: hidden;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.125rem;
  --icon-size: 1rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0.5rem;
    --icon-size: 1.25rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 0.75rem;
  }

  .title {
    @include ellipsis;
    margin-bottom: 0;
    margin-right: 0.25rem;
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(24px);

    @media (min-width: $breakpoint-sm) {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: rem(32px);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .favorite-button {
    @include center;
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .favorite-button.remove {
    display: none;
  }

  &:hover .favorite-button.remove {
    display: flex;
  }

  .favorite-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-size);
    line-height: var(--icon-size);
  }
}

.progress-bar {
  margin-bottom: 0.25rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0.75rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 1rem;
  }
}

.small-text,
.next-episode-text,
.next-episode-date {
  @include ellipsis;
}

.small-text {
  margin: 0;
  color: var(--text-color-2);

  @media (min-width: $breakpoint-sm) {
    margin-bottom: rem(4px);
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: rem(8px);
  }
}

.next-episode-text {
  margin: 0;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 0.25rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-bottom: 0.5rem;
  }
}

.next-episode-date {
  margin: 0;
  color: var(--text-color-2);

  @media (min-width: $breakpoint-sm) {
    margin-top: 0.25rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 0.5rem;
  }
}

.show-status {
  margin: 0;
  color: var(--text-color-2);
}
