<img
  *ngIf="imgPrefix && tmdbShow && tmdbShow.poster_path && show"
  [src]="imgPrefix + tmdbShow.poster_path"
  [alt]="tmdbShow.name + ' Poster'"
  class="poster"
  loading="lazy"
/>
<img
  *ngIf="!(imgPrefix && tmdbShow && tmdbShow.poster_path && show)"
  src="assets/poster.png"
  alt="No poster"
  class="poster"
  loading="lazy"
/>
<div class="right" [class.without-gap]="!withAddButtons">
  <div class="left-wrapper">
    <p *ngIf="progress || tmdbShow" class="mat-small small-text">
      <ng-container *ngIf="withEpisodesCount">
        <ng-container *ngIf="tmdbShow && (!progress || progress.completed === 0)">
          {{ tmdbShow.number_of_episodes }} episodes
        </ng-container>
        <ng-container
          *ngIf="progress && progress.completed > 0 && progress.aired - progress.completed"
        >
          {{ progress.aired - progress.completed }} remaining
        </ng-container>
        <ng-container
          *ngIf="tmdbShow && (!progress || (progress && progress.aired - progress.completed))"
        >
          ·
        </ng-container>
      </ng-container>
      {{ tmdbShow?.networks?.[0]?.name }}
    </p>

    <div class="title-wrapper" *ngIf="show">
      <h2 class="mat-title title">{{ show.title }}{{ withYear && ' (' + show.year + ')' }}</h2>
      <ng-container *ngIf="isFavorite !== undefined">
        <button
          *ngIf="isFavorite"
          mat-icon-button
          aria-label="Favorite"
          class="favorite-button"
          (click)="$event.stopPropagation(); removeFavorite.emit(show.ids.trakt)"
        >
          <mat-icon class="favorite-icon">star</mat-icon>
        </button>
        <button
          *ngIf="!isFavorite"
          mat-icon-button
          aria-label="Favorite"
          class="favorite-button remove"
          (click)="$event.stopPropagation(); addFavorite.emit(show.ids.trakt)"
        >
          <mat-icon class="favorite-icon">star_outline</mat-icon>
        </button>
      </ng-container>
    </div>

    <mat-progress-bar
      *ngIf="withProgressbar && progress && showWatched"
      class="progress-bar"
      mode="determinate"
      [value]="(progress.completed / progress.aired) * 100"
    ></mat-progress-bar>

    <ng-container *ngIf="withEpisode && episode">
      <p class="mat-small next-episode-text">
        S{{ episode.season | number: '2.0-0' }}E{{ episode.number | number: '2.0-0' }}
        {{ episode.title }}
      </p>
      <p class="mat-small next-episode-date">
        {{ episode.first_aired | date: 'd. MMM. yyyy (E.)' }}
      </p>
      <p
        *ngIf="
          (!progress || !progress.next_episode) &&
          tmdbShow &&
          !['Ended', 'Canceled'].includes(tmdbShow.status)
        "
      >
        No next episode
      </p>
    </ng-container>
  </div>

  <div>
    <ng-container *ngIf="withAddButtons && show">
      <button *ngIf="progress && showWatched" mat-icon-button aria-label="Show added" disabled>
        <mat-icon>checkbox</mat-icon>
      </button>
      <ng-container *ngIf="!(progress && showWatched)">
        <button
          *ngIf="!isWatchlist"
          mat-icon-button
          aria-label="Add show"
          (click)="$event.stopPropagation(); addShow.emit(show.ids)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          *ngIf="isWatchlist"
          mat-icon-button
          aria-label="Remove show"
          (click)="$event.stopPropagation(); removeShow.emit(show.ids)"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!withAddButtons && menu && show">
      <button
        mat-icon-button
        aria-label="Menu"
        (click)="$event.stopPropagation()"
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{ show, isFavorite }"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
