<div class="wrapper">
  <mat-checkbox
    *ngIf="isLoggedIn"
    class="checkbox"
    [checked]="episodeProgress?.completed"
    (click)="onClick($event)"
  ></mat-checkbox>

  <div
    class="right-wrapper"
    [class.not-aired]="!episode?.first_aired || (episode | airDate) > currentDate"
  >
    <h3 class="mat-body-2 title">
      {{ episode | episodeTitleWithIndex: i }}
    </h3>

    <h3 class="mat-body-2 subtitle">
      <ng-container *ngIf="episode; else episodeLoading">
        <ng-container *ngIf="episode.first_aired; else noAirDate">
          {{ episode.first_aired | date: 'd. MMM. yyyy' }}
        </ng-container>
        <ng-template #noAirDate>No air date</ng-template>
      </ng-container>
      <ng-template #episodeLoading>...</ng-template>
    </h3>
  </div>
</div>
