<div class="wrapper">
  <mat-checkbox
    *ngIf="isLoggedIn"
    class="checkbox"
    [checked]="episodeProgress?.completed"
    (click)="onClick($event)"
  ></mat-checkbox>

  <div class="right-wrapper" [class.not-aired]="(episode | airDate) > currentDate">
    <h3 class="mat-body-2 title">
      {{ episode | episodeTitleWithIndex: i }}
    </h3>
    <h3 *ngIf="episode && episode.first_aired" class="mat-body-2 subtitle">
      {{ episode.first_aired | date: 'd. MMM. yyyy' }}
    </h3>
  </div>
</div>
