@use '@angular/material' as mat;
@use '../../shared/styles/mixins' as mixins;

:host {
  @include mixins.container;
}

.custom-link {
  display: inline;
  color: var(--mat-sys-primary-80);
  font-weight: 500;
}

.donate-button {
  margin-bottom: 2rem;
}
