@use '@angular/material' as mat;
@use '../../../m3-theme' as theme;
@use '../../shared/styles' as styles;

:host {
  @include styles.container;
}

.custom-link {
  display: inline;
  color: mat.get-theme-color(theme.$dark-theme, primary, 80);
  font-weight: 500;
}

.donate-button {
  margin-bottom: 2rem;
}
