<ng-container *ngIf="seasonProgress || season">
  <h3 class="mat-body-1 title">
    {{ 'Season ' + (seasonProgress?.number ?? season?.season_number) | seasonTitle }}
    <span class="episodes-text">
      <ng-container *ngIf="seasonProgress">
        ({{ seasonProgress.completed }}/{{ episodesAired }})
      </ng-container>
      <ng-container *ngIf="!seasonProgress && season">
        ({{ season.episode_count }} episodes)
      </ng-container>
    </span>
  </h3>
  <mat-progress-bar
    mode="determinate"
    color="accent"
    [value]="
      !(seasonProgress && episodesAired) ? 0 : (seasonProgress.completed / episodesAired) * 100
    "
    aria-label="Season episodes watched percentage of all season episodes"
  ></mat-progress-bar>
</ng-container>
