@import '../../../../shared/styles/index';

:host {
  @include container;
}

.header {
  display: grid;
  grid-template-columns: 128px 1fr;
  gap: 1rem;
  margin-bottom: 2rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 3rem;
    grid-template-columns: 185px 1fr;
    gap: 3rem;
  }
}

.poster {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: var(--border-radius);
}

.small-text {
  color: var(--text-color-2);
  margin-bottom: rem(8px);

  @media (min-width: $breakpoint-sm) {
    margin-bottom: rem(16px);
  }
}

.next-episode {
  margin-bottom: 2rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 3rem;
  }

  .next-text {
    margin-bottom: rem(8px);

    @media (min-width: $breakpoint-sm) {
      margin-bottom: rem(16px);
    }
  }
}

.subtitle {
  color: var(--text-color-2);
}
