@use '@angular/material' as mat;
@use '../app/shared/styles/variables' as vars;
@use '../app/shared/styles/mixins' as mixins;

.dark-theme,
.light-theme {
  .mat-drawer-side {
    // prevent jumping when navigating
    border-right: 0;

    // curved sidenav items
    .sidenav-link,
    .mat-mdc-list-item,
    .mat-list-item-ripple {
      border-top-right-radius: 100000rem;
      border-bottom-right-radius: 100000rem;
    }
  }

  @media (min-width: vars.$breakpoint-sm) {
    .mat-mdc-tab-links {
      justify-content: center;
    }
  }

  .video-dialog,
  .image-dialog {
    .mat-mdc-dialog-container {
      padding: 0;
      max-height: 100vh;
      max-width: 100vw;
    }
  }
}

.light-theme {
  .mat-sidenav-container.sidenav-container .mat-sidenav.sidenav {
    @include mat.elevation(4, #bcbcbc);

    @media (min-width: vars.$breakpoint-lg) {
      box-shadow: none;
    }
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgb(114 114 114 / 60%);
  }

  .active {
    @media (min-width: vars.$breakpoint-lg) {
      background: rgba(0, 0, 0, 0.08);
    }

    .icon-wrapper {
      background: rgba(0, 0, 0, 0.06);

      @media (min-width: vars.$breakpoint-lg) {
        background: none;
      }
    }
  }
}

.dark-theme {
  .active {
    @media (min-width: vars.$breakpoint-lg) {
      background: rgba(255, 255, 255, 0.08);
    }

    .icon-wrapper {
      background: rgba(255, 255, 255, 0.16);

      @media (min-width: vars.$breakpoint-lg) {
        background: none;
      }
    }
  }
}

mat-sidenav.sidenav {
  position: fixed;
  top: unset;
  width: 100%;
  height: var(--bottom-tabs-height);

  @media (min-width: vars.$breakpoint-lg) {
    top: var(--toolbar-height);
    width: 16rem;
    height: 100%;
    margin-top: 0;
  }

  .sidenav-link {
    width: 100%;
  }

  .sidenav-list {
    display: flex;
    padding: 0;
    height: 100%;

    @media (min-width: vars.$breakpoint-lg) {
      display: block;
      padding-top: 0.5rem;
      height: auto;
    }

    .sidenav-item {
      user-select: none;
      height: 100%;

      @media (min-width: vars.$breakpoint-lg) {
        height: 3rem;
      }

      .mdc-list-item__content {
        display: flex;
        justify-content: center;

        @media (min-width: vars.$breakpoint-lg) {
          display: block;
        }
      }

      .icon-wrapper {
        @include mixins.center;
        width: 100%;
        height: 1.75rem;
        border-radius: 100000rem;
        transition: background 300ms;

        @media (min-width: vars.$breakpoint-lg) {
          height: auto;
          border-radius: 0;
        }
      }

      .sidenav-link-name {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.0625rem;

        @media (min-width: vars.$breakpoint-lg) {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    .sidenav-icon {
      margin-right: 0;

      @media (min-width: vars.$breakpoint-lg) {
        margin-right: 1.5rem;
      }
    }
  }

  .sidenav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 4rem;
    padding-top: 0.25rem;

    @media (min-width: vars.$breakpoint-lg) {
      flex-direction: row;
      gap: 0;
    }
  }
}
