@use '@angular/material' as mat;
@use '../app/shared/styles/variables' as vars;

@use 'sidenav';

:root {
  --mat-sys-background: light-dark(var(--mat-sys-neutral-99), var(--mat-sys-neutral-4));
  --mat-sys-surface: var(--mat-sys-background);
  --text-color-dim: light-dark(var(--mat-sys-neutral-50), var(--mat-sys-neutral-60));

  --toolbar-height: 64px;
  --sidenav-width: 256px;
  --bottom-tabs-height: 4rem;
  --border-radius: 8px;
  --transition-duration: 250ms;

  // Customize "Trakify" title
  @include mat.toolbar-overrides(
    (
      title-text-size: 1.25rem,
      title-text-weight: 500,
      title-text-tracking: 0.25px,
    )
  );

  // Remove bottom tab border
  @include mat.tabs-overrides(
    (
      divider-height: 0,
    )
  );
}

.dark-theme {
  // Add shadow to toolbar
  .mat-toolbar {
    @include mat.elevation(4, black);
  }
}

.light-theme {
  // Add shadow to toolbar
  .mat-toolbar {
    @include mat.elevation(4, #bcbcbc);
  }

  // Brighten the color of progress bars
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--mat-sys-primary-70),
    )
  );

  // Brighten the color of the active tab highlight
  @include mat.tabs-overrides(
    (
      active-indicator-color: var(--mat-sys-primary-70),
      active-focus-indicator-color: var(--mat-sys-primary-70),
      active-hover-indicator-color: var(--mat-sys-primary-70),
    )
  );
}

// ----------------------------------------

.tertiary-button {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-tertiary),
      filled-label-text-color: var(--mat-sys-on-tertiary),
      filled-state-layer-color: var(--mat-sys-on-tertiary),
      filled-ripple-color: color-mix(in srgb, var(--mat-sys-on-tertiary), transparent 88%),
      outlined-label-text-color: var(--mat-sys-tertiary),
      outlined-state-layer-color: var(--mat-sys-on-tertiary-container),
      outlined-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-tertiary-container),
          transparent 88%
        ),
    )
  );
}

.tertiary-fab {
  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-tertiary),
      foreground-color: var(--mat-sys-on-tertiary),
      state-layer-color: var(--mat-sys-on-tertiary),
      ripple-color: color-mix(in srgb, var(--mat-sys-on-tertiary), transparent 88%),
    )
  );
}

.tertiary-spinner {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-tertiary),
    )
  );
}

.tertiary-checkbox {
  @include mat.checkbox-overrides(
    (
      selected-pressed-icon-color: var(--mat-sys-tertiary),
      selected-checkmark-color: var(--mat-sys-on-tertiary),
      selected-focus-icon-color: var(--mat-sys-tertiary),
      selected-hover-icon-color: var(--mat-sys-tertiary),
      selected-icon-color: var(--mat-sys-tertiary),
      selected-focus-state-layer-color: var(--mat-sys-tertiary),
      selected-hover-state-layer-color: var(--mat-sys-tertiary),
      unselected-pressed-state-layer-color: var(--mat-sys-tertiary),
    )
  );
}

// ----------------------------------------

.main-fab.main-fab {
  position: fixed;
  bottom: 5rem;
  right: 1rem;

  @media (min-width: vars.$breakpoint-lg) {
    bottom: 2rem;
    right: 2rem;
  }
}

.default-list.default-list {
  margin-left: -1rem;
  margin-right: -1rem;

  .mat-mdc-list-item {
    user-select: none;
    padding: 0.4rem 0;
    height: initial;

    @media (min-width: vars.$breakpoint-sm) {
      padding: 0.75rem 0;
    }

    .mdc-list-item__content {
      padding: 0 1rem;
    }
  }
}

.default-tabs {
  // centered tabs on desktop
  @media (min-width: vars.$breakpoint-sm) {
    .mat-mdc-tab-links {
      justify-content: center;
    }
  }
}

.simple-list {
  list-style-type: none;
  padding-left: 0;
}

// Don't show unneeded scrollbar in dialog with checkboxes
.mat-mdc-dialog-content > :first-child:has(.mat-mdc-checkbox) {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
