.mat-body-small {
  font: var(--mat-sys-body-small);
}

.mat-body-medium {
  font: var(--mat-sys-body-medium);
}

.mat-body-large {
  font: var(--mat-sys-body-large);
}

.mat-display-small {
  font: var(--mat-sys-display-small);
}

.mat-display-medium {
  font: var(--mat-sys-display-medium);
}

.mat-display-large {
  font: var(--mat-sys-display-large);
}

.mat-headline-small {
  font: var(--mat-sys-headline-small);
}

.mat-headline-medium {
  font: var(--mat-sys-headline-medium);
}

.mat-headline-large {
  font: var(--mat-sys-headline-large);
}

.mat-label-small {
  font: var(--mat-sys-label-small);
}

.mat-label-medium {
  font: var(--mat-sys-label-medium);
}

.mat-label-large {
  font: var(--mat-sys-label-large);
}

.mat-title-small {
  font: var(--mat-sys-title-small);
}

.mat-title-medium {
  font: var(--mat-sys-title-medium);
}

.mat-title-large {
  font: var(--mat-sys-title-large);
}

// --------------------------------------------------

.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography h1 {
  font:
    400 3.562rem/4rem Roboto,
    sans-serif;
  letter-spacing: -0.016rem;
  margin: 0 0 0.5em;
}

.mat-display-medium,
.mat-typography .mat-display-medium,
.mat-typography h2 {
  font:
    400 2.812rem/3.25rem Roboto,
    sans-serif;
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

.mat-display-small,
.mat-typography .mat-display-small,
.mat-typography h3 {
  font:
    400 2.25rem/2.75rem Roboto,
    sans-serif;
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

.mat-headline-large,
.mat-typography .mat-headline-large,
.mat-typography h4 {
  font:
    400 2rem/2.5rem Roboto,
    sans-serif;
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

.mat-headline-medium,
.mat-typography .mat-headline-medium,
.mat-typography h5 {
  font:
    400 1.75rem/2.25rem Roboto,
    sans-serif;
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

.mat-headline-small,
.mat-typography .mat-headline-small,
.mat-typography h6 {
  font:
    400 1.5rem/2rem Roboto,
    sans-serif;
  letter-spacing: 0;
  margin: 0 0 0.5em;
}

.mat-title-large,
.mat-typography .mat-title-large {
  font:
    400 1.375rem/1.75rem Roboto,
    sans-serif;
  letter-spacing: 0;
}

.mat-title-medium,
.mat-typography .mat-title-medium {
  font:
    500 1rem/1.5rem Roboto,
    sans-serif;
  letter-spacing: 0.009rem;
}

.mat-title-small,
.mat-typography .mat-title-small {
  font:
    500 0.875rem/1.25rem Roboto,
    sans-serif;
  letter-spacing: 0.006rem;
}

.mat-body-large,
.mat-typography .mat-body-large,
.mat-typography {
  font:
    400 1rem/1.5rem Roboto,
    sans-serif;
  letter-spacing: 0.031rem;
}

.mat-body-large p,
.mat-typography .mat-body-large p,
.mat-typography p {
  margin: 0 0 0.75em;
}

.mat-body-medium,
.mat-typography .mat-body-medium {
  font:
    400 0.875rem/1.25rem Roboto,
    sans-serif;
  letter-spacing: 0.016rem;
}

.mat-body-small,
.mat-typography .mat-body-small {
  font:
    400 0.75rem/1rem Roboto,
    sans-serif;
  letter-spacing: 0.025rem;
}

.mat-label-large,
.mat-typography .mat-label-large {
  font:
    500 0.875rem/1.25rem Roboto,
    sans-serif;
  letter-spacing: 0.006rem;
}

.mat-label-medium,
.mat-typography .mat-label-medium {
  font:
    500 0.75rem/1rem Roboto,
    sans-serif;
  letter-spacing: 0.031rem;
}

.mat-label-small,
.mat-typography .mat-label-small {
  font:
    500 0.688rem/1rem Roboto,
    sans-serif;
  letter-spacing: 0.031rem;
}
