@use '@angular/material' as mat;
@use '../app/shared/styles/variables' as vars;

@use 'sidenav';

:root {
  --text-color-dark: var(--mat-sys-neutral-10);
  --text-color-2-dark: var(--mat-sys-neutral-50);
  --text-color-light: var(--mat-sys-neutral-90);
  --text-color-2-light: var(--mat-sys-neutral-60);

  --background-dark: var(--mat-sys-neutral-6);
  --background-light: var(--mat-sys-neutral-98);
  --background-2-dark: var(--mat-sys-neutral-35);
  --background-2-light: var(--mat-sys-neutral-90);

  --toolbar-height: 64px;
  --sidenav-width: 256px;
  --bottom-tabs-height: 4rem;
  --border-radius: 8px;
  --transition-duration: 250ms;

  --mat-tab-header-divider-height: 0;
  --mat-toolbar-title-text-size: 1.25rem;
  --mat-toolbar-title-text-weight: 500;
  --mat-toolbar-title-text-tracking: 0.25px;
}

.dark-theme {
  color-scheme: dark;

  --text-color: var(--text-color-light);
  --text-color-2: var(--text-color-2-light);
  --background: var(--background-dark);
  --background-2: var(--background-2-dark);

  .mat-toolbar {
    @include mat.elevation(4, black);
  }
}

.light-theme {
  color-scheme: light;

  --text-color: var(--text-color-dark);
  --text-color-2: var(--text-color-2-dark);
  --background: var(--background-light);
  --background-2: var(--background-2-light);

  --mdc-linear-progress-active-indicator-color: var(--mat-sys-primary-70);
  --mdc-tab-indicator-active-indicator-color: var(--mat-sys-primary-70);
  --mat-tab-header-active-focus-indicator-color: var(--mat-sys-primary-70);
  --mat-tab-header-active-hover-indicator-color: var(--mat-sys-primary-70);

  .mat-toolbar {
    @include mat.elevation(4, #bcbcbc);
  }
}

// ----------------------------------------

.tertiary-button {
  @include mat.button-overrides(
    (
      outlined-label-text-color: var(--mat-sys-tertiary),
      outlined-state-layer-color: var(--mat-sys-on-tertiary-container),
      outlined-ripple-color: color-mix(
          in srgb,
          var(--mat-sys-on-tertiary-container),
          transparent 88%
        ),
    )
  );
}

.tertiary-fab {
  @include mat.fab-overrides(
    (
      container-color: var(--mat-sys-tertiary-container),
      foreground-color: var(--mat-sys-on-tertiary-container),
      state-layer-color: var(--mat-sys-on-tertiary-container),
      ripple-color: color-mix(in srgb, var(--mat-sys-on-tertiary-container), transparent 88%),
    )
  );
}

.tertiary-spinner {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-tertiary),
    )
  );
}

.tertiary-checkbox {
  @include mat.checkbox-overrides(
    (
      selected-pressed-icon-color: var(--mat-sys-tertiary),
      selected-checkmark-color: var(--mat-sys-on-tertiary),
      selected-focus-icon-color: var(--mat-sys-tertiary),
      selected-hover-icon-color: var(--mat-sys-tertiary),
      selected-icon-color: var(--mat-sys-tertiary),
      selected-focus-state-layer-color: var(--mat-sys-tertiary),
      selected-hover-state-layer-color: var(--mat-sys-tertiary),
      unselected-pressed-state-layer-color: var(--mat-sys-tertiary),
    )
  );
}

// ----------------------------------------

.main-fab.main-fab {
  position: fixed;
  bottom: 5rem;
  right: 1rem;

  @media (min-width: vars.$breakpoint-lg) {
    bottom: 2rem;
    right: 2rem;
  }
}

.default-list.default-list {
  margin-left: -1rem;
  margin-right: -1rem;

  .mat-mdc-list-item {
    user-select: none;
    padding: 0.4rem 0;
    height: initial;

    @media (min-width: vars.$breakpoint-sm) {
      padding: 0.75rem 0;
    }

    .mdc-list-item__content {
      padding: 0 1rem;
    }
  }
}

.default-tabs {
  // centered tabs on desktop
  @media (min-width: vars.$breakpoint-sm) {
    .mat-mdc-tab-links {
      justify-content: center;
    }
  }
}

.simple-list {
  list-style-type: none;
  padding-left: 0;
}

// Don't show unneeded scrollbar in dialog with checkboxes
.mat-mdc-dialog-content > :first-child:has(.mat-mdc-checkbox) {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
