.mat-body-small {
  font: var(--mat-sys-body-small);
}

.mat-body-medium {
  font: var(--mat-sys-body-medium);
}

.mat-body-large {
  font: var(--mat-sys-body-large);
}

.mat-display-small {
  font: var(--mat-sys-display-small);
}

.mat-display-medium {
  font: var(--mat-sys-display-medium);
}

.mat-display-large {
  font: var(--mat-sys-display-large);
}

.mat-headline-small {
  font: var(--mat-sys-headline-small);
}

.mat-headline-medium {
  font: var(--mat-sys-headline-medium);
}

.mat-headline-large {
  font: var(--mat-sys-headline-large);
}

.mat-label-small {
  font: var(--mat-sys-label-small);
}

.mat-label-medium {
  font: var(--mat-sys-label-medium);
}

.mat-label-large {
  font: var(--mat-sys-label-large);
}

.mat-title-small {
  font: var(--mat-sys-title-small);
}

.mat-title-medium {
  font: var(--mat-sys-title-medium);
}

.mat-title-large {
  font: var(--mat-sys-title-large);
}

// --------------------------------------------------

.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography h1,
.mat-display-medium,
.mat-typography .mat-display-medium,
.mat-typography h2,
.mat-display-small,
.mat-typography .mat-display-small,
.mat-typography h3,
.mat-headline-large,
.mat-typography .mat-headline-large,
.mat-typography h4,
.mat-headline-medium,
.mat-typography .mat-headline-medium,
.mat-typography h5,
.mat-headline-small,
.mat-typography .mat-headline-small,
.mat-typography h6 {
  margin: 0 0 0.5em;
}

.mat-body-large p,
.mat-typography .mat-body-large p,
.mat-typography p {
  margin: 0 0 0.75em;
}
