@use '@angular/material' as mat;
@use 'theme-colors' as colors;

.dark-theme,
html {
  @include mat.theme(
    (
      color: (
        primary: colors.$primary-palette,
        tertiary: colors.$tertiary-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.light-theme {
  @include mat.theme(
    (
      color: (
        primary: colors.$primary-palette,
        tertiary: colors.$tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
