<t-loading [loadingState]="pageState()">
  <t-shows
    [isLoggedIn]="authService.isLoggedIn()"
    [showsInfos]="showsInfos()"
    [menu]="menu"
    [back]="router.url"
    withEpisode
    withEpisodesCount
    withProgressbar
    (addFavorite)="showService.addFavorite($event)"
    (removeFavorite)="showService.removeFavorite($event)"
  />
</t-loading>

<a
  mat-fab
  class="main-fab tertiary-fab"
  aria-label="Add show to watchlist"
  [routerLink]="Paths.addShow({})"
>
  <mat-icon>add</mat-icon>
</a>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-show="show" let-isFavorite="isFavorite" let-isHidden="isHidden">
    @if (show) {
      @if (listService.lists.s(); as lists) {
        @if (lists.length > 0) {
          <button mat-menu-item (click)="dialogService.manageLists(show.ids.trakt)">
            Manage lists
          </button>
        }
      }

      <button mat-menu-item (click)="executeService.addShow(show, { showConfirm: true })">
        Mark as seen
      </button>

      @if (isFavorite !== undefined) {
        <button
          mat-menu-item
          (click)="isFavorite ? showService.removeFavorite(show) : showService.addFavorite(show)"
        >
          {{ isFavorite ? 'Remove favorite' : 'Add favorite' }}
        </button>
      }
      @if (isHidden !== undefined) {
        <button
          mat-menu-item
          (click)="
            isHidden ? executeService.removeShowHidden(show) : executeService.addShowHidden(show)
          "
        >
          {{ isHidden ? 'Unhide show' : 'Hide show' }}
        </button>
      }

      <button mat-menu-item (click)="executeService.removeShow(show)">Remove show</button>
    }
  </ng-template>
</mat-menu>
