<t-shows
  [isLoggedIn]="authService.isLoggedIn()"
  [showsInfos]="showInfosList()"
  [menu]="showItemMenu"
  [back]="router.url"
  withEpisode
  withEpisodesCount
  withProgressbar
  (addFavorite)="showService.addFavorite($event)"
  (removeFavorite)="showService.removeFavorite($event)"
/>

<a
  mat-fab
  class="main-fab tertiary-fab"
  aria-label="Add show to watchlist"
  [routerLink]="Paths.addShow({})"
>
  <mat-icon>add</mat-icon>
</a>

<mat-menu #showItemMenu="matMenu">
  <ng-template matMenuContent let-show="show" let-isFavorite="isFavorite" let-isHidden="isHidden">
    <t-show-item-menu [show]="show" [isFavorite]="isFavorite" [isHidden]="isHidden" />
  </ng-template>
</mat-menu>
