<div class="wrapper">
  <mat-checkbox class="checkbox" [checked]="episodeProgress?.completed" disabled></mat-checkbox>

  <div class="right-wrapper" [class.not-aired]="episodeAirDate && episodeAirDate > currentDate">
    <h3 class="mat-subheading-1 title">
      {{
        episode?.title && episode?.number !== undefined
          ? episode?.title + ' (' + episode?.number + ')'
          : 'Episode ' + (index + 1)
      }}
    </h3>
    <h3 *ngIf="episode && episode.first_aired" class="mat-subheading-1 subtitle">
      {{ episode.first_aired | date: 'd. MMM. yyyy' }}
    </h3>
  </div>
</div>
