@import 'src/app/shared/styles';

:host {
  --tab-bar-height: 0;
}

.has-tabs {
  --tab-bar-height: 3rem;
}

.toolbar {
  position: fixed;
  top: env(safe-area-inset-top);
  z-index: 2;
}

.back-link {
  margin-left: rem(-8px);

  @media (min-width: $breakpoint-sm) {
    margin-right: rem(8px);
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  .logo-image {
    height: rem(28px);
    width: auto;
    margin-right: 0.5rem;
    aspect-ratio: 28 / 32;
  }

  .logo-text {
    color: var(--text-color);
    margin-right: 0.5rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.tab-bar-top {
  position: fixed;
  top: var(--toolbar-height);
  z-index: 1;
  background: var(--background);
  width: 100%;

  @media (min-width: $breakpoint-lg) {
    width: calc(100% - var(--sidenav-width));
  }
}

.tab-content {
  display: block;
  margin-top: var(--tab-bar-height);
}

.list-title {
  margin: rem(12px) 0;
}

.section {
  margin: 0 1rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
