@import 'src/app/shared/styles';

:host {
  --tab-bar-height: 0;
}

.has-tabs {
  --tab-bar-height: 3rem;
}

.toolbar {
  position: fixed;
  top: env(safe-area-inset-top);
  z-index: 2;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  margin-right: 0.5rem;
}

.syncing-spinner {
  width: 1rem;
  height: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  top: unset;
  width: 100%;
  height: var(--bottom-tabs-height);

  @media (min-width: $breakpoint-lg) {
    top: var(--toolbar-height);
    width: rem(256px);
    height: 100%;
    margin-top: 0;
  }

  .sidenav-link {
    display: block;
  }

  .sidenav-list {
    display: flex;
    padding: 0;
    height: 100%;

    @media (min-width: $breakpoint-lg) {
      display: block;
      padding-top: rem(8px);
      height: auto;
    }

    .sidenav-item {
      user-select: none;
      height: 100%;

      @media (min-width: $breakpoint-lg) {
        height: rem(48px);
      }

      .icon-wrapper {
        @include center;
        width: 100%;
        height: rem(28px);
        border-radius: 100000rem;
        transition: background 300ms;

        @media (min-width: $breakpoint-lg) {
          height: auto;
          border-radius: 0;
        }
      }

      .sidenav-link {
        font-size: rem(14px);
        font-weight: 500;

        @media (min-width: $breakpoint-lg) {
          font-size: rem(16px);
          font-weight: 400;
        }
      }
    }

    .sidenav-icon {
      margin-right: 0;

      @media (min-width: $breakpoint-lg) {
        margin-right: rem(24px);
      }
    }
  }

  .sidenav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(4px);
    width: rem(64px);
    padding-top: rem(4px);

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      gap: 0;
    }
  }
}

.tab-bar-top {
  position: fixed;
  top: var(--toolbar-height);
  z-index: 1;
  background: var(--background);
  width: 100%;
}

.tab-content {
  display: block;
  margin-top: var(--tab-bar-height);
}

.list-title {
  margin: 1rem 0;
  cursor: default;
}

.section {
  margin: 0 1rem;
}

.list {
  list-style-type: none;
  margin-top: 4px;
  padding: 0;
}

.list-item {
  margin: 0.5rem 0;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: flex-start;
}

.radio-button {
  margin: 0.5rem 0;
}
