<mat-toolbar class="toolbar">
  <button
    *ngIf="sidenav.mode === 'over'"
    mat-icon-button
    aria-label="Menu"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" class="logo">SeriesTracker</a>
  <mat-spinner
    *ngIf="showService.isSyncing | async"
    class="syncing-spinner"
    diameter="24"
  ></mat-spinner>
  <span class="spacer"></span>
  <span *ngIf="isLoggedIn">
    <ng-container *ngIf="router.url === '/series'">
      <button mat-icon-button aria-label="Filter icon" [matMenuTriggerFor]="menuFilter">
        <mat-icon>filter_alt</mat-icon>
      </button>
      <button mat-icon-button aria-label="Sort icon" [matMenuTriggerFor]="menuSort">
        <mat-icon>sort</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="router.url.startsWith('/lists')">
      <button mat-icon-button aria-label="Create list" (click)="showService.addListViaDialog()">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </ng-container>
    <button mat-icon-button aria-label="Search icon" routerLink="/series/search">
      <mat-icon>search</mat-icon>
    </button>
  </span>
  <button mat-icon-button aria-label="Open menu" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    #sidenav
    mode="side"
    role="navigation"
    opened
    (closedStart)="onClosed()"
  >
    <mat-nav-list class="sidenav-list">
      <mat-list-item
        *ngFor="let link of links"
        [routerLink]="link.url"
        [queryParamsHandling]="link.queryParamsHandling"
        routerLinkActive="active"
        class="sidenav-item"
        (click)="sidenav.mode === 'over' && sidenav.close()"
      >
        <mat-icon class="sidenav-icon">{{ link.icon }}</mat-icon>
        <a class="sidenav-link">{{ link.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <nav *ngIf="activeTabLink" mat-tab-nav-bar [tabPanel]="tabPanel">
      <a
        mat-tab-link
        *ngFor="let link of tabLinks"
        (click)="router.navigateByUrl(link.url); activeTabLink = link"
        [active]="activeTabLink === link"
      >
        {{ link.name }}
      </a>
    </nav>

    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menuFilter="matMenu">
  <section class="section" (click)="$event.stopPropagation()">
    <h4 class="list-title">Hide</h4>

    <ul class="list" *ngIf="config">
      <li class="list-item" *ngFor="let filter of config.filters">
        <mat-checkbox [(ngModel)]="filter.value" (ngModelChange)="showService.syncConfig()">
          {{ filter.name }}
        </mat-checkbox>
      </li>
    </ul>
  </section>
</mat-menu>

<mat-menu #menuSort="matMenu">
  <section class="section" (click)="$event.stopPropagation()">
    <h4 class="list-title">Sort</h4>

    <mat-radio-group
      *ngIf="config"
      class="radio-group"
      [(ngModel)]="config.sort.by"
      (ngModelChange)="showService.syncConfig()"
    >
      <mat-radio-button
        *ngFor="let sortBy of config.sort.values"
        [value]="sortBy"
        class="radio-button"
      >
        {{ sortBy }}
      </mat-radio-button>
    </mat-radio-group>
    <ul *ngIf="config" class="list">
      <li
        class="list-item"
        *ngFor="let sortOption of config.sortOptions"
        [value]="sortOption.value"
      >
        <mat-checkbox [(ngModel)]="sortOption.value" (ngModelChange)="showService.syncConfig()">
          {{ sortOption.name }}
        </mat-checkbox>
      </li>
    </ul>
  </section>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="themes">
    <mat-icon>palette</mat-icon>
    <span>Themes</span>
  </button>
  <button mat-menu-item (click)="appStatus.checkForUpdate()">
    <mat-icon>update</mat-icon>
    <span>Check for updates</span>
  </button>
  <button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-menu #themes="matMenu">
  <button mat-menu-item (click)="configService.setTheme(theme.LIGHT); showService.syncConfig()">
    Light
  </button>
  <button mat-menu-item (click)="configService.setTheme(theme.DARK); showService.syncConfig()">
    Dark
  </button>
  <button mat-menu-item (click)="configService.setTheme(theme.SYSTEM); showService.syncConfig()">
    System
  </button>
</mat-menu>
