<mat-toolbar class="toolbar">
  <a routerLink="" queryParamsHandling="merge" class="logo-wrapper" data-test-id="logo">
    <img rawSrc="assets/logo-T.png" width="28" height="32" priority alt="Logo" class="logo-image" />
    <span class="logo-text">Trakify</span>
  </a>
  <mat-spinner
    *ngIf="syncService.isSyncing | async"
    class="syncing-spinner"
    diameter="24"
  ></mat-spinner>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn">
    <button
      *ngIf="['/shows', '/shows/upcoming'] | includes: router.url"
      mat-icon-button
      aria-label="Filter icon"
      [matMenuTriggerFor]="menuFilter"
    >
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button
      *ngIf="router.url === '/shows'"
      mat-icon-button
      aria-label="Sort icon"
      [matMenuTriggerFor]="menuSort"
    >
      <mat-icon>sort</mat-icon>
    </button>

    <ng-container *ngIf="router.url | startsWith: '/lists'">
      <button
        mat-icon-button
        aria-label="Create list"
        (click)="dialogService.addList()"
        data-test-id="add-list-button"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>
      <ng-container *ngIf="listService.lists.$ | async as lists">
        <button
          *ngIf="lists.length > 0"
          mat-icon-button
          aria-label="Remove list"
          (click)="executeService.removeList(getQueryParams().show)"
          data-test-id="remove-list-button"
        >
          <mat-icon>playlist_remove</mat-icon>
        </button>
      </ng-container>
    </ng-container>
    <a mat-icon-button aria-label="Search icon" [routerLink]="paths.search.pattern">
      <mat-icon>search</mat-icon>
    </a>
  </ng-container>
  <button
    mat-icon-button
    aria-label="Open menu"
    [matMenuTriggerFor]="menu"
    data-test-id="topbar-menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    class="sidenav"
    role="navigation"
    [mode]="isDesktop && isLoggedIn ? 'side' : 'over'"
    [opened]="isLoggedIn"
    (closedStart)="sidenavClosedStart()"
    (opened)="sidenavOpened()"
  >
    <mat-nav-list class="sidenav-list" *ngIf="isLoggedIn">
      <a
        *ngFor="let link of links"
        [routerLink]="link.url"
        [queryParamsHandling]="link.queryParamsHandling"
        routerLinkActive="active"
        class="sidenav-link link"
      >
        <mat-list-item class="sidenav-item">
          <div class="sidenav-wrapper">
            <div class="icon-wrapper">
              <mat-icon class="sidenav-icon">{{ link.icon }}</mat-icon>
            </div>
            <a class="sidenav-link">{{ link.name }}</a>
          </div>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main" [class.has-tabs]="activeTabLink">
    <nav
      *ngIf="activeTabLink"
      mat-tab-nav-bar
      [tabPanel]="tabPanel"
      class="tab-bar-top"
      color="accent"
    >
      <a
        mat-tab-link
        *ngFor="let link of tabLinks"
        [routerLink]="link.url"
        [active]="activeTabLink === link"
      >
        {{ link.name }}
      </a>
    </nav>

    <mat-tab-nav-panel #tabPanel class="tab-content">
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menuFilter="matMenu">
  <section class="section" (click)="$event.stopPropagation()" (keyup)="$event.stopPropagation()">
    <h4 class="list-title">Hide</h4>

    <ul class="list" *ngIf="config">
      <ng-container *ngIf="router.url === '/shows'">
        <li class="list-item" *ngFor="let filter of config.filters">
          <mat-checkbox [(ngModel)]="filter.value" (ngModelChange)="configService.config.sync()">
            {{ filter.name }}
          </mat-checkbox>
        </li>
      </ng-container>
      <ng-container *ngIf="router.url === '/shows/upcoming'">
        <li class="list-item" *ngFor="let filter of config.upcomingFilters">
          <mat-checkbox [(ngModel)]="filter.value" (ngModelChange)="configService.config.sync()">
            {{ filter.name }}
          </mat-checkbox>
        </li>
      </ng-container>
    </ul>
  </section>
</mat-menu>

<mat-menu #menuSort="matMenu">
  <section class="section" (click)="$event.stopPropagation()" (keyup)="$event.stopPropagation()">
    <h4 class="list-title">Sort</h4>

    <mat-radio-group
      *ngIf="config"
      class="radio-group"
      [(ngModel)]="config.sort.by"
      (ngModelChange)="configService.config.sync()"
    >
      <mat-radio-button
        *ngFor="let sortBy of config.sort.values"
        [value]="sortBy"
        class="radio-button"
      >
        {{ sortBy }}
      </mat-radio-button>
    </mat-radio-group>
    <ul *ngIf="config" class="list">
      <li
        class="list-item"
        *ngFor="let sortOption of config.sortOptions"
        [value]="sortOption.value"
      >
        <mat-checkbox [(ngModel)]="sortOption.value" (ngModelChange)="configService.config.sync()">
          {{ sortOption.name }}
        </mat-checkbox>
      </li>
    </ul>
  </section>
</mat-menu>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngIf="!(router.url | startsWith: '/shows/s/')">
      <button mat-menu-item [matMenuTriggerFor]="themeMenu">
        <mat-icon>palette</mat-icon>
        <span>Theme</span>
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
        <span>Language</span>
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item [matMenuTriggerFor]="syncMenu">
        <mat-icon>sync</mat-icon>
        <span>Sync</span>
      </button>
      <button mat-menu-item (click)="appStatus.checkForUpdate()">
        <mat-icon>update</mat-icon>
        <span>Check for updates</span>
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </ng-container>
    <ng-container *ngIf="router.url | startsWith: '/shows/s/'">
      <ng-container *ngIf="showService.activeShow | async as show">
        <ng-container *ngIf="listService.lists.$ | async as lists">
          <button
            *ngIf="lists.length > 0"
            mat-menu-item
            (click)="dialogService.manageLists(show.ids.trakt)"
          >
            Manage lists
          </button>
        </ng-container>

        <button mat-menu-item (click)="executeService.addShow(show)">Mark as seen</button>

        <button
          mat-menu-item
          (click)="
            showService.isFavorite(show)
              ? showService.removeFavorite(show)
              : showService.addFavorite(show)
          "
        >
          {{ (show | isFavorite) ? 'Remove favorite' : 'Add favorite' }}
        </button>

        <ng-container *ngIf="router.url | includes: '/season/'">
          <ng-container *ngIf="seasonService.activeSeason | async as season">
            <button mat-menu-item (click)="executeService.addSeason(season, show)">
              Mark season as seen
            </button>
            <button mat-menu-item (click)="executeService.removeSeason(season, show)">
              Mark season as unseen
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</mat-menu>

<mat-menu #themeMenu="matMenu">
  <button mat-menu-item (click)="configService.setTheme(themes.LIGHT); configService.config.sync()">
    Light
  </button>
  <button mat-menu-item (click)="configService.setTheme(themes.DARK); configService.config.sync()">
    Dark
  </button>
  <button
    mat-menu-item
    (click)="configService.setTheme(themes.SYSTEM); configService.config.sync()"
  >
    System
  </button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
  <button
    *ngFor="let language of languages"
    mat-menu-item
    (click)="
      configService.setLanguage(language.short);
      syncService.sync(undefined, { publishSingle: false })
    "
  >
    {{ language.name }}
  </button>
</mat-menu>

<mat-menu #syncMenu="matMenu">
  <button mat-menu-item (click)="syncService.syncNew({ showSnackbar: true })">Sync new</button>
  <button mat-menu-item (click)="syncService.syncAll({ showSnackbar: true })">Sync all</button>
</mat-menu>
