@import 'src/app/shared/styles';

:host {
  @include container;
}

.title {
  font-size: rem(16px);
  margin-bottom: 0;
}

.statistics-text {
  font-size: rem(24px);
  line-height: 1.4;
  margin-top: rem(4px);
  margin-bottom: rem(32px);
}
