<h2 class="mat-subtitle-1">Cast</h2>
<div class="cast-wrapper">
  @for (castSingle of cast; track castSingle.id) {
  <div class="cast">
    <a
      [href]="'https://trakt.tv/search/people?query=' + encodeAsUrl(castSingle.original_name)"
      target="_blank"
      rel="noopener"
    >
      @if (castSingle.profile_path) {
      <img
        [ngSrc]="posterPrefix + castSingle.profile_path"
        width="185"
        height="278"
        [alt]="castSingle.name"
        class="cast-profile"
      />
      } @else {

      <img
        ngSrc="../../../../../../../assets/poster.png"
        width="154"
        height="231"
        [alt]="castSingle.name"
      />

      }
    </a>

    <p class="mat-body cast-name" ticker>{{ castSingle.name }}</p>
    <p class="mat-body cast-character" ticker>{{ castSingle.roles[0].character }}</p>
  </div>
  }
</div>
