@use '../../../../../../shared/styles/variables' as vars;

.cast-wrapper {
  display: flex;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 0.5rem;

  .cast {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    width: 5rem;

    @media (min-width: vars.$breakpoint-sm) {
      width: 9rem;
    }
  }

  .cast-profile {
    aspect-ratio: 2 / 3;
    border-radius: var(--border-radius);
  }

  .cast-name,
  .cast-character {
    margin: 0;
  }

  .cast-name {
    margin-top: 0.75rem;
  }

  .cast-character {
    color: var(--text-color-dim);
  }
}
