<h2 class="mat-subtitle-1">Cast</h2>
<div class="cast-wrapper">
  <a
    *ngFor="let castSingle of cast"
    [href]="'https://trakt.tv/search/people?query=' + encodeAsUrl(castSingle.original_name)"
    class="cast"
  >
    <img
      *ngIf="castSingle.profile_path; else imgFallback"
      [ngSrc]="posterPrefix + castSingle.profile_path"
      width="185"
      height="278"
      [alt]="castSingle.name"
      class="cast-profile"
    />
    <ng-template #imgFallback>
      <img
        ngSrc="../../../../../../../assets/poster.png"
        width="154"
        height="231"
        [alt]="castSingle.name"
      />
    </ng-template>
    <p class="mat-body cast-name" ticker>{{ castSingle.name }}</p>
    <p class="mat-body cast-character" ticker>{{ castSingle.roles[0].character }}</p>
  </a>
</div>
