<h1 mat-dialog-title>Manage list items</h1>
<div mat-dialog-content>
  <ul class="list">
    <li *ngFor="let show of data.shows">
      <mat-checkbox
        [checked]="show.ids.trakt | isInList: data.listItems"
        (change)="onChange($event, show.ids.trakt)"
      >
        {{ show.title }} ({{ show.year }})
      </mat-checkbox>
    </li>
  </ul>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button (click)="apply()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
