<t-loading [loadingState]="pageState">
  <t-shows
    [showsInfos]="showsInfos"
    [tmdbConfig]="tmdbService.tmdbConfig.$ | async"
    [withEpisodesCount]="true"
    [withEpisode]="true"
    [menu]="menu"
  ></t-shows>
</t-loading>

<a
  mat-fab
  color="primary"
  class="fab"
  aria-label="Add show to watchlist"
  routerLink="/series/add-series"
>
  <mat-icon>add</mat-icon>
</a>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-show="show">
    <ng-container *ngIf="show">
      <button mat-menu-item (click)="executeService.removeFromWatchlist(show.ids)">
        Remove from watchlist
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
