@import 'variables';

@mixin container {
  display: block;
  max-width: 55rem;
  margin: 0 auto;
  padding: 1rem;

  ::ng-deep {
    .mat-list-base {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
