@import 'variables';

@mixin container {
  display: block;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 1rem;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
