<form class="search-form" (ngSubmit)="searchSubmitted()">
  <mat-form-field class="form-field" appearance="fill" color="accent">
    <mat-label>Search shows...</mat-label>
    <input
      #searchInput
      matInput
      type="search"
      enterkeyhint="search"
      name="searchValue"
      [(ngModel)]="searchValue"
      (keyup.enter)="searchInput.blur()"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      cdkFocusInitial
    />
  </mat-form-field>
</form>
<app-shows
  [shows]="shows"
  [isLoading]="isLoading"
  [tmdbConfig]="tmdbService.tmdbConfig | async"
></app-shows>
