@if (showQuery.isPending()) {
  <t-spinner />
} @else if (showQuery.error(); as error) {
  <t-error-text [error]="error" />
} @else {
  <t-season-header
    [breadcrumbParts]="breadcrumbParts()"
    [seasonProgress]="seasonProgress() ?? undefined"
    [seasonNumber]="season()"
    [showSlug]="show()"
    [seasons]="seasonsQuery.data() ?? undefined"
    [episodes]="seasonEpisodesQuery.data() ?? undefined"
  />

  @if (seasonEpisodesQuery.isPending()) {
    <t-spinner />
  } @else if (seasonEpisodesQuery.error(); as error) {
    <t-error-text [error]="error" />
  } @else {
    <t-season-episodes
      [isLoggedIn]="authService.isLoggedIn()"
      [episodes]="seasonEpisodesQuery.data() ?? undefined"
      [show]="showQuery.data()"
      [seasonNumber]="season()"
      [seasonProgress]="seasonProgress() ?? undefined"
      (addEpisode)="executeService.addEpisode($event.episode, $event.show)"
      (removeEpisode)="executeService.removeEpisode($event.episode, $event.show)"
    />
  }
}
