<t-breadcrumb [parts]="breadcrumbParts"></t-breadcrumb>

<div class="title-wrapper">
  <div class="left">
    <h1 class="mat-headline-5 title">
      {{ episode | episodeTitle : episodeProgress?.number : tmdbEpisode }}
    </h1>
    <h2 *ngIf="episode?.first_aired" class="mat-body-2 subtitle">
      {{ episode?.first_aired | date : 'd. MMM. yyyy (E.)' }}
    </h2>
  </div>
  <div class="right">
    <a
      mat-icon-button
      aria-label="Previous episode"
      [routerLink]="
        { episode: episodeNumber, season: seasonNumber, show: showSlug }
          | episodeLinkWithCounter : -1
      "
      [state]="{ back }"
      [disabled]="episodeNumber === '1'"
      data-test-id="previous-button"
    >
      <mat-icon>navigate_before</mat-icon>
    </a>
    <a
      mat-icon-button
      aria-label="Next episode"
      [routerLink]="
        { episode: episodeNumber, season: seasonNumber, show: showSlug }
          | episodeLinkWithCounter : 1 : episodes?.length
      "
      [state]="{ back }"
      [disabled]="episodeNumber === episodes?.length + ''"
      data-test-id="next-button"
    >
      <mat-icon>navigate_next</mat-icon>
    </a>
  </div>
</div>
