<t-loading [loadingState]="pageState">
  <ng-container *ngIf="params$ | async as params">
    <t-season-header
      [breadcrumbParts]="breadcrumbParts"
      [seasonProgress]="seasonProgress$ | async"
      [seasonNumber]="params.season"
      [showSlug]="params.show"
      [seasons]="seasons$ | async"
    />

    <t-loading [loadingState]="episodesLoadingState">
      <t-season-episodes
        [isLoggedIn]="authService.isLoggedIn$ | async"
        [episodes]="seasonEpisodes$ | async"
        [show]="show$ | async"
        [seasonNumber]="params.season"
        [seasonProgress]="seasonProgress$ | async"
        (addEpisode)="executeService.addEpisode($event.episode, $event.show)"
        (removeEpisode)="executeService.removeEpisode($event.episode, $event.show)"
      />
    </t-loading>
  </ng-container>
</t-loading>
