@if (tmdbSeason()?.poster_path || tmdbShow()?.poster_path; as posterPath) {
  <img
    [ngSrc]="ImagePrefixW185 + posterPath"
    [priority]="initialIndex !== undefined && initialIndex <= 4"
    width="185"
    height="278"
    [alt]="tmdbShow() || show() ? (tmdbShow()?.name || show().title) + ' Poster' : 'Poster'"
    (load)="posterLoaded.set(true)"
    class="poster-image"
    [class.not-loaded]="!posterLoaded()"
    #posterImage
  />
} @else if ((tmdbShow() && !tmdbShow()!.poster_path) || tmdbShow() === null) {
  <img
    src="/poster.png"
    [attr.fetchpriority]="initialIndex !== undefined && initialIndex <= 4 ? 'high' : null"
    width="154"
    height="231"
    alt="Poster"
    (load)="posterLoaded.set(true)"
    class="poster-image"
    [class.not-loaded]="!posterLoaded()"
    #posterImage
  />
} @else {
  <div class="poster-image" #posterImage></div>
}

<t-show-list-item-content
  [isLoggedIn]="isLoggedIn()"
  [show]="show()"
  [showMeta]="showMeta()"
  [showWatched]="showWatched()"
  [showProgress]="progress()"
  [tmdbShow]="tmdbShow()"
  [tmdbSeason]="tmdbSeason()"
  [isFavorite]="isFavorite()"
  [episode]="episode()"
  [withYear]="withYear()"
  [withEpisode]="withEpisode()"
  [withEpisodesCount]="withEpisodesCount()"
  [withProgressbar]="withProgressbar()"
  [withRelativeDate]="withRelativeDate()"
  (addFavorite)="addFavorite.emit($event)"
  (removeFavorite)="removeFavorite.emit($event)"
/>

@if (isLoggedIn()) {
  <div class="show-button">
    @if (withAddButtons() && show()) {
      @if (progress() || showWatched()) {
        <button matIconButton aria-label="Show added" disabled data-test-id="show-added">
          <mat-icon>checkbox</mat-icon>
        </button>
      }
      @if (isWatchlist() !== undefined && !(progress() || showWatched())) {
        <button
          matIconButton
          [attr.aria-label]="isWatchlist() ? 'Remove show' : 'Add show'"
          (click)="
            preventEvent($event); isWatchlist() ? removeShow.emit(show()) : addShow.emit(show())
          "
          [attr.data-test-id]="isWatchlist() ? 'remove-button' : 'add-button'"
        >
          <mat-icon>{{ isWatchlist() ? 'remove' : 'add' }}</mat-icon>
        </button>
      }
    }
    @if (!withAddButtons() && menu() && show()) {
      <button
        matIconButton
        aria-label="Menu"
        (click)="preventEvent($event)"
        [matMenuTriggerFor]="menu() ?? null"
        [matMenuTriggerData]="{ show: show(), isFavorite: isFavorite(), isHidden: isHidden() }"
        data-test-id="show-item-menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    }
  </div>
}
