@import '../../../styles';

:host {
  display: grid;
  grid-template-columns: rem-convert(80px) 1fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: rem-convert(96px) 1fr;
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: rem-convert(154px) 1fr;
  }
}

.poster-image {
  aspect-ratio: 2 / 3;
  cursor: pointer;
  contain: paint;
  border-radius: var(--border-radius);
}

.show-button {
  grid-column: 3;
  margin-left: -1rem;
}
