@if (lists().length) {
  <nav
    mat-tab-nav-bar
    class="default-tabs"
    [tabPanel]="tabPanel"
    [mat-stretch-tabs]="false"
    tSwipe
    (swipeLeft)="next()"
    (swipeRight)="previous()"
  >
    @for (list of lists(); track list.ids.trakt; let i = $index) {
      <a
        mat-tab-link
        [active]="activeListIndex() === i"
        [routerLink]="[]"
        [queryParams]="{ slug: list.ids.slug }"
      >
        {{ list.name }}
      </a>
    }
  </nav>
} @else {
  <div class="list">
    <h2 class="mat-body-medium">No list added.</h2>
  </div>
}

<mat-tab-nav-panel #tabPanel class="list">
  @if (listItemsQuery.isPending() || isPending()) {
    <t-spinner />
  } @else if (listItemsQuery.error(); as error) {
    <t-error-text [error]="error" />
  } @else {
    @if (lists().length) {
      <t-shows [showsInfos]="showsInfos()" [back]="router.url" />
    }
  }
</mat-tab-nav-panel>

@if (activeListIndex() !== undefined) {
  <button
    mat-fab
    class="main-fab tertiary-fab"
    aria-label="Add list items"
    (click)="dialogService.manageListItems(lists()[activeListIndex()!])"
  >
    <mat-icon>add</mat-icon>
  </button>
}
