<t-loading [loadingState]="pageState">
  @if (lists) { @if (lists.length) {
  <nav
    mat-tab-nav-bar
    [tabPanel]="tabPanel"
    [mat-stretch-tabs]="false"
    tSwipe
    (swipeLeft)="next()"
    (swipeRight)="previous()"
  >
    @for (list of lists; track list.ids.trakt; let i = $index) {
    <a
      mat-tab-link
      [active]="activeListIndex === i"
      [routerLink]="[]"
      [queryParams]="{ slug: list.ids.slug }"
    >
      {{ list.name }}
    </a>
    }
  </nav>
  } @else {

  <div class="list">
    <h2 class="mat-body-2">No list added.</h2>
  </div>

  } }

  <mat-tab-nav-panel #tabPanel class="list">
    @if (lists?.length) {
    <t-loading [loadingState]="listItemsLoadingState">
      <t-shows [showsInfos]="showsInfos" [back]="router.url" />
    </t-loading>
    }
  </mat-tab-nav-panel>

  @if (activeListIndex !== undefined) {
  <button
    mat-fab
    color="accent"
    class="fab"
    aria-label="Add list items"
    (click)="dialogService.manageListItems(lists?.[activeListIndex])"
  >
    <mat-icon>add</mat-icon>
  </button>
  }
</t-loading>
