<form class="search-form" (ngSubmit)="searchSubmitted()">
  <mat-form-field class="form-field" appearance="fill" color="accent">
    <mat-label>Search shows...</mat-label>
    <input
      #searchInput
      matInput
      type="search"
      enterkeyhint="search"
      name="searchValue"
      [(ngModel)]="searchValue"
      (keyup.enter)="searchInput.blur()"
    />
  </mat-form-field>
</form>

<mat-chip-list *ngIf="!searchValue" aria-label="Show selection" class="show-selection">
  <mat-chip
    *ngFor="let chip of chips; let i = index"
    color="accent"
    (click)="changeSelection(i)"
    [selected]="activeChip === i"
  >
    {{ chip.name }}
  </mat-chip>
</mat-chip-list>

<app-shows
  [shows]="shows"
  [isLoading]="isLoading"
  [tmdbConfig]="tmdbService.tmdbConfig$ | async"
  [withYear]="true"
  [withEpisodesCount]="true"
  [withAddButtons]="true"
  (addShow)="
    isWatchlist ? showService.executeAddToWatchlist($event) : showService.addNewShow($event)
  "
  (removeShow)="isWatchlist && showService.executeRemoveFromWatchlist($event)"
></app-shows>
