<img
  *ngIf="imgPrefix && tmdbShow && watched"
  [src]="imgPrefix + tmdbShow.poster_path"
  [alt]="tmdbShow.name + ' Poster'"
  class="poster"
/>
<img
  *ngIf="!(imgPrefix && tmdbShow && watched)"
  src="assets/poster.png"
  alt="Not loaded"
  class="poster"
/>
<div class="right">
  <div class="title-wrapper" *ngIf="watched">
    <h2 class="mat-title title">
      {{ watched.show.title }}
    </h2>
    <button
      *ngIf="favorites.includes(watched.show.ids.trakt)"
      mat-icon-button
      aria-label="Favorite"
      class="favorite-button"
      (click)="$event.stopPropagation(); removeFavorite.emit(watched.show.ids.trakt)"
    >
      <mat-icon class="favorite-icon">star</mat-icon>
    </button>
    <button
      *ngIf="!favorites.includes(watched.show.ids.trakt)"
      mat-icon-button
      aria-label="Favorite"
      class="favorite-button remove"
      (click)="$event.stopPropagation(); addFavorite.emit(watched.show.ids.trakt)"
    >
      <mat-icon class="favorite-icon">star_outline</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="progress">
    <mat-progress-bar
      mode="determinate"
      [value]="(progress.completed / progress.aired) * 100"
    ></mat-progress-bar>
    <p class="mat-small watched-text">
      Watched {{ progress.completed }} of {{ progress.aired }} episodes ({{
        progress.completed / progress.aired | percent
      }})
    </p>
    <p *ngIf="progress.next_episode" class="mat-small next-episode-text">
      Next episode: S{{ progress.next_episode.season }}E{{ progress.next_episode.number }}
      {{ progress.next_episode.title }}
    </p>
    <p *ngIf="!progress.next_episode">No next episode</p>
  </ng-container>
</div>
