@use '@angular/material' as mat;

$st-primary: (
  100: var(--primary-dark),
  500: var(--primary),
  700: var(--primary-light),
  contrast: (
    100: var(--secondary-dark),
    500: var(--secondary),
    700: var(--secondary-light),
  ),
);

$st-accent: (
  100: var(--secondary-dark),
  500: var(--secondary),
  700: var(--secondary-light),
  contrast: (
    100: var(--secondary-dark),
    500: var(--secondary),
    700: var(--secondary-light),
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette($st-primary);
$accent: mat.define-palette($st-accent);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$st-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

// Apply the dark theme by default
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.dark-theme {
  @include mat.all-legacy-component-themes($st-dark-theme);
}
