@use '@angular/material' as mat;

$primary: (
  100: var(--accent-100),
  500: hsl(159deg 76% 46%),
  700: var(--accent-700),
  contrast: (
    100: var(--text-color-dark),
    500: var(--text-color-dark),
    700: var(--text-color-dark),
  ),
);

$accent: (
  100: var(--primary-100),
  500: hsl(282deg 68% 38%),
  700: var(--primary-700),
  contrast: (
    100: var(--text-color-light),
    500: var(--text-color-light),
    700: var(--text-color-light),
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary-palette: mat.define-palette($primary);
$light-accent-palette: mat.define-palette($accent);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary-palette,
      accent: $light-accent-palette,
    ),
  )
);

// Apply the light theme only when the `.light-theme` CSS class is applied
// to an ancestor element of the components (such as `html`).
.light-theme {
  @include mat.button-theme($light-theme);
  @include mat.checkbox-theme($light-theme);
  @include mat.chips-theme($light-theme);
  @include mat.core-theme($light-theme);
  @include mat.dialog-theme($light-theme);
  @include mat.fab-theme($light-theme);
  @include mat.form-field-theme($light-theme);
  @include mat.icon-button-theme($light-theme);
  @include mat.icon-theme($light-theme);
  @include mat.input-theme($light-theme);
  @include mat.list-theme($light-theme);
  @include mat.menu-theme($light-theme);
  @include mat.progress-bar-theme($light-theme);
  @include mat.progress-spinner-theme($light-theme);
  @include mat.radio-theme($light-theme);
  @include mat.ripple-theme($light-theme);
  @include mat.sidenav-theme($light-theme);
  @include mat.snack-bar-theme($light-theme);
  @include mat.tabs-theme($light-theme);
  @include mat.toolbar-theme($light-theme);
  @include mat.card-theme($light-theme);
}
