<form class="search-form">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Search added shows...</mat-label>
    <input
      #searchInput
      matInput
      type="search"
      enterkeyhint="search"
      name="searchValue"
      [(ngModel)]="searchValue"
      (keyup.enter)="searchInput.blur()"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      (ngModelChange)="searchByNavigating()"
      autocomplete="off"
      data-test-id="search"
    />
  </mat-form-field>
</form>

<t-shows [showsInfos]="showInfos()" [back]="router.url" />
