@import 'src/app/shared/styles';

.shows {
  margin-bottom: 1rem;
}

mat-list-item {
  user-select: none;

  &.show {
    height: 7.5rem;
    cursor: default;

    @media (min-width: $breakpoint-sm) {
      height: 15rem;
    }
  }

  &.loading-item {
    @include center;
  }
}

.loading-title {
  margin-bottom: 0;
}
