<mat-list class="shows">
  <mat-list-item *ngIf="isLoading" class="loading-item" mat-ripple>
    <h2 class="mat-title loading-title">Loading...</h2>
  </mat-list-item>
  <ng-container *ngIf="!isLoading && shows">
    <mat-list-item *ngFor="let show of shows; trackBy: showId" class="show" matRipple>
      <app-show-item
        [watched]="show.showWatched"
        [progress]="show.showProgress"
        [imgPrefix]="
          tmdbConfig && tmdbConfig.images.secure_base_url + tmdbConfig.images.poster_sizes[1]
        "
        [tmdbShow]="tmdbShows && tmdbShows[show.showWatched.show.ids.tmdb]"
        [favorites]="favorites"
        (addFavorite)="showService.addFavorite($event)"
        (removeFavorite)="showService.removeFavorite($event)"
      ></app-show-item> </mat-list-item
  ></ng-container>
</mat-list>
