@import 'src/styles';

:host {
  @include container;
}

mat-list-item.episode {
  height: 4rem;
  cursor: default;
  user-select: none;

  @media (min-width: $breakpoint-sm) {
    height: 5rem;
  }
}
