<ng-container *ngIf="!isLoading; else nextEpisodeLoading">
  <ng-container *ngIf="nextEpisodeTrakt !== null && episodes">
    <h2 class="mat-subtitle-1 next-text">
      Next episode
      <span *ngIf="showProgress || tmdbShow" class="subtitle">
        <ng-container *ngIf="showProgress | remaining : nextEpisodeTrakt : tmdbSeason as remaining">
          <ng-container *ngIf="!remaining && episodes"> · {{ episodes }} episodes </ng-container>
          <ng-container *ngIf="remaining"> · {{ remaining }} remaining</ng-container>
        </ng-container>
      </span>
    </h2>

    <t-episode
      *ngIf="show && tmdbShow"
      [isLoggedIn]="isLoggedIn"
      [show]="show"
      [episode]="nextEpisodeTrakt"
      [tmdbEpisode]="nextEpisodeTmdb"
      [episodeProgress]="nextEpisodeProgress"
      [isNewShow]="isNewShow"
      [isSeenLoading]="seenLoading === state.LOADING"
      [withLink]="true"
      (addEpisode)="addEpisode.emit($event)"
      (removeEpisode)="removeEpisode.emit($event)"
    />
  </ng-container>

  <h3
    class="mat-subtitle-1 no-next-episode"
    *ngIf="!episodes || (showWatched && nextEpisodeTrakt === null && !(tmdbShow | isShowEnded))"
  >
    No next episode.
  </h3>
</ng-container>

<ng-template #nextEpisodeLoading>
  <div class="loading">...</div>
</ng-template>
