<t-loading [loadingState]="loadingState">
  <ng-container *ngIf="seasonInfo && params">
    <t-breadcrumb [parts]="breadcrumbParts"></t-breadcrumb>
    <h3 class="mat-title">
      {{ seasonInfo.seasonProgress?.title ?? 'Season ' + params.get('season') | seasonTitle }}
    </h3>
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      color="accent"
      [value]="
        seasonInfo.seasonProgress
          ? (seasonInfo.seasonProgress.completed / seasonInfo.seasonProgress.aired) * 100
          : 0
      "
    ></mat-progress-bar>

    <t-loading [loadingState]="episodesLoadingState">
      <mat-list *ngIf="seasonInfo.episodes">
        <a
          *ngFor="let episode of seasonInfo.episodes; let i = index"
          class="link"
          matRipple
          tHideRippleOnScroll
          [routerLink]="
            '/series/s/' +
            params.get('slug') +
            '/season/' +
            params.get('season') +
            '/episode/' +
            (i + 1)
          "
        >
          <mat-list-item>
            <t-episode-item
              [index]="i"
              [episodeProgress]="seasonInfo.seasonProgress?.episodes?.[i]"
              [episode]="episode"
              (add)="executeService.addEpisode($event, seasonInfo.show?.ids)"
              (remove)="executeService.removeEpisode($event, seasonInfo.show?.ids)"
            ></t-episode-item>
          </mat-list-item>
        </a>
      </mat-list>
    </t-loading>
  </ng-container>
</t-loading>
