<t-loading [loadingState]="pageState">
  <ng-container *ngIf="params$ | async as params">
    <t-season-header
      [breadcrumbParts]="breadcrumbParts"
      [seasonProgress]="seasonProgress$ | async"
      [seasonNumber]="params.season"
      [showSlug]="params.show"
      [seasons]="seasons$ | async"
    ></t-season-header>

    <t-season-episodes
      [episodes]="seasonEpisodes$ | async"
      [show]="show$ | async"
      [seasonNumber]="params.season"
      [seasonProgress]="seasonProgress$ | async"
      (addEpisode)="executeService.addEpisode($event.episode, $event.show)"
    ></t-season-episodes>
  </ng-container>
</t-loading>
