<t-loading [loadingState]="pageState" class="container">
  <t-show-header
    [isLoggedIn]="authService.isLoggedIn$ | async"
    [tmdbSeason]="tmdbSeason$ | async"
    [posterPrefix]="posterPrefix"
    [showWatched]="showWatched$ | async"
    [tmdbShow]="tmdbShow$ | async"
    [show]="show$ | async"
    [nextEpisode]="(nextEpisode$ | async)?.[0]"
    [isFavorite]="isFavorite$ | async"
    [isSmall]="isSmall"
    [isNewShow]="(showProgress$ | async) === undefined"
    [isWatchlist]="isWatchlist$ | async"
    (addFavorite)="showService.addFavorite($event)"
    (removeFavorite)="showService.removeFavorite($event)"
    (addToWatchlist)="executeService.addToWatchlist($event)"
    (removeFromWatchlist)="executeService.removeFromWatchlist($event)"
    (addShow)="executeService.addShow($event)"
    (showTrailer)="dialogService.showTrailer($event)"
  ></t-show-header>

  <t-show-cast
    *ngIf="(tmdbShow$ | async)?.aggregate_credits?.cast as cast"
    [cast]="cast"
  ></t-show-cast>

  <t-show-details
    *ngIf="(tmdbShow$ | async)?.aggregate_credits?.cast"
    [tmdbShow]="tmdbShow$ | async"
  ></t-show-details>

  <t-show-next-episode
    *ngIf="(tmdbShow$ | async)?.aggregate_credits?.cast"
    [isLoggedIn]="authService.isLoggedIn$ | async"
    [isLoading]="(nextEpisode$ | async) === null && !(pageState | async | isError)"
    [nextEpisodeTrakt]="(nextEpisode$ | async)?.[0]"
    [nextEpisodeTmdb]="(nextEpisode$ | async)?.[1]"
    [nextEpisodeProgress]="(nextEpisode$ | async)?.[2]"
    [showProgress]="showProgress$ | async"
    [isNewShow]="(showProgress$ | async) === undefined"
    [tmdbShow]="tmdbShow$ | async"
    [show]="show$ | async"
    [showWatched]="showWatched$ | async"
    [seenLoading]="seenLoading | async"
    (addEpisode)="addToHistory($event.episode, $event.show)"
  ></t-show-next-episode>

  <t-show-seasons
    *ngIf="(tmdbShow$ | async)?.aggregate_credits?.cast && (nextEpisode$ | async)"
    [show]="show$ | async"
    [showProgress]="showProgress$ | async"
    [seasonsEpisodes]="seasonEpisodes$ | async"
    [tmdbShow]="tmdbShow$ | async"
    [back]="back"
  ></t-show-seasons>

  <t-show-links
    *ngIf="(tmdbShow$ | async)?.aggregate_credits?.cast"
    [show]="show$ | async"
    [tmdbShow]="tmdbShow$ | async"
  ></t-show-links>
</t-loading>
