<form class="search-form">
  <mat-form-field class="form-field" appearance="fill" color="accent">
    <mat-label>Search shows...</mat-label>
    <input
      #searchInput
      matInput
      type="search"
      enterkeyhint="search"
      name="searchValue"
      [(ngModel)]="searchValue"
      (keyup.enter)="searchInput.blur()"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      cdkFocusInitial
      (ngModelChange)="searchByNavigating()"
      autocomplete="off"
    />
  </mat-form-field>
</form>

<t-loading [loadingState]="loadingState">
  <t-shows [showsInfos]="showsInfos" [tmdbConfig]="tmdbService.tmdbConfig.$ | async"></t-shows>
</t-loading>
