<app-loading [loadingState]="loadingState">
  <app-shows
    [showsInfos]="showsInfos"
    [tmdbConfig]="tmdbService.tmdbConfig$ | async"
    [withEpisodesCount]="true"
    [menu]="menu"
  ></app-shows>
</app-loading>

<a
  mat-fab
  color="primary"
  class="fab"
  aria-label="Add show to watchlist"
  routerLink="/series/add-series"
  [queryParams]="{ 'is-watchlist': true }"
>
  <mat-icon>add</mat-icon>
</a>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-show="show">
    <ng-container *ngIf="show">
      <button mat-menu-item (click)="listService.executeRemoveFromWatchlist(show.ids)">
        Remove from watchlist
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
