<h1 mat-dialog-title>Manage list items</h1>
<div mat-dialog-content>
  <ul class="simple-list">
    @for (show of data.shows; track show.ids.trakt) {
      <li>
        <t-list-item
          [show]="show"
          [listItems]="data.listItems ?? []"
          (listItemChange)="onChange($event, show.ids.trakt)"
        />
      </li>
    }
  </ul>
</div>
<mat-dialog-actions align="end">
  <button matButton (click)="dialogRef.close()">Cancel</button>
  <button matButton (click)="apply()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
