<app-loading [loadingState]="loadingState">
  <ng-container *ngIf="showInfo && params">
    <div *ngIf="showInfo.tmdbShow" class="header">
      <div class="poster-wrapper">
        <img
          *ngIf="posterPrefix"
          [src]="
            posterPrefix +
            ((showInfo.showWatched && showInfo.tmdbSeason?.poster_path) ||
              showInfo.tmdbShow.poster_path)
          "
          width="185"
          height="278"
          [alt]="showInfo.tmdbShow.name + ' poster'"
          loading="lazy"
          appImageFallback="assets/poster.png"
        />
      </div>

      <div>
        <h4 class="mat-subheading-1 small-text">
          {{ showInfo.tmdbShow.status }} · {{ showInfo.tmdbShow.networks[0].name }}
        </h4>
        <h2 class="mat-headline">{{ showInfo.tmdbShow.name }}</h2>
        <p class="mat-body">{{ showInfo.tmdbShow.overview }}</p>
      </div>
    </div>

    <div class="next-episode">
      <ng-container *ngIf="showInfo.nextEpisode !== null">
        <h3 class="mat-subheading-2 next-text">
          Next episode
          <span *ngIf="showInfo.showProgress || showInfo.tmdbShow" class="subtitle">
            <ng-container
              *ngIf="
                showInfo.tmdbShow &&
                (!showInfo.showProgress || showInfo.showProgress.completed === 0)
              "
            >
              · {{ showInfo.tmdbShow.number_of_episodes }} episodes
            </ng-container>
            <ng-container
              *ngIf="
                showInfo.showProgress &&
                showInfo.showProgress.completed > 0 &&
                showInfo.showProgress.aired - showInfo.showProgress.completed
              "
            >
              · {{ showInfo.showProgress.aired - showInfo.showProgress.completed }} remaining
            </ng-container>
          </span>
        </h3>
        <app-episode
          [params]="$any(params)"
          [show]="showInfo.show"
          [episode]="showInfo.nextEpisode"
          [episodeProgress]="showInfo.nextEpisodeProgress"
          [tmdbEpisode]="showInfo.tmdbNextEpisode"
          [imgPrefix]="stillPrefix"
          [withEpisode]="true"
          (addToHistory)="addToHistory(showInfo)"
        ></app-episode>
      </ng-container>

      <h3
        class="mat-subheading-2"
        *ngIf="
          showInfo.showWatched &&
          !showInfo.nextEpisode &&
          showInfo.tmdbShow &&
          !['Ended', 'Canceled'].includes(showInfo.tmdbShow.status)
        "
      >
        No next episode
      </h3>
    </div>

    <mat-list *ngIf="showInfo.showProgress">
      <a
        *ngFor="let seasonProgress of showInfo.showProgress.seasons"
        class="link"
        matRipple
        appHideRippleOnScroll
        [routerLink]="'/series/s/' + params['slug'] + '/season/' + seasonProgress.number"
      >
        <mat-list-item>
          <app-season-item [seasonProgress]="seasonProgress"></app-season-item>
        </mat-list-item>
      </a>
    </mat-list>

    <mat-list *ngIf="showInfo.tmdbShow && !showInfo.showProgress">
      <a
        *ngFor="let season of showInfo.tmdbShow.seasons"
        class="link"
        matRipple
        appHideRippleOnScroll
        [routerLink]="'/series/s/' + params['slug'] + '/season/' + season.season_number"
      >
        <mat-list-item>
          <app-season-item [season]="season"></app-season-item>
        </mat-list-item>
      </a>
    </mat-list>
  </ng-container>
</app-loading>
