@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use 'm3-palette-helpers' as palette-helpers;

$green-palette: palette-helpers.apply-patches(
  (
    0: #000000,
    10: #0a4832,
    20: #0a4832,
    25: #0a4832,
    30: #0a4832,
    35: #1cce90,
    40: #1cce90,
    50: #1cce90,
    60: #1cce90,
    70: #1cce90,
    80: #1cce90,
    90: #62eaba,
    95: #62eaba,
    98: #62eaba,
    99: #62eaba,
    100: #ffffff,
    secondary: (
      0: #000000,
      10: #0a4832,
      20: #0a4832,
      25: #0a4832,
      30: #0a4832,
      35: #1cce90,
      40: #1cce90,
      50: #1cce90,
      60: #1cce90,
      70: #1cce90,
      80: #1cce90,
      90: #62eaba,
      95: #62eaba,
      98: #62eaba,
      99: #62eaba,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #0a4832,
      20: #0a4832,
      25: #0a4832,
      30: #0a4832,
      35: #1cce90,
      40: #1cce90,
      50: #1cce90,
      60: #1cce90,
      70: #1cce90,
      80: #1cce90,
      90: #62eaba,
      95: #62eaba,
      98: #62eaba,
      99: #62eaba,
      100: #ffffff,
    ),
    neutral-variant: (
      0: #000000,
      10: #0a4832,
      20: #0a4832,
      25: #0a4832,
      30: #0a4832,
      35: #1cce90,
      40: #1cce90,
      50: #1cce90,
      60: #1cce90,
      70: #1cce90,
      80: #1cce90,
      90: #62eaba,
      95: #62eaba,
      98: #62eaba,
      99: #62eaba,
      100: #ffffff,
    ),
  )
);

$violet-palette: palette-helpers.apply-patches(
  (
    0: #000000,
    10: #442d4e,
    20: #442d4e,
    25: #442d4e,
    30: #442d4e,
    35: #7b1fa3,
    40: #7b1fa3,
    50: #7b1fa3,
    60: #7b1fa3,
    70: #7b1fa3,
    80: #7b1fa3,
    90: #9b27b0,
    95: #9b27b0,
    98: #9b27b0,
    99: #9b27b0,
    100: #ffffff,
    secondary: (
      0: #000000,
      10: #442d4e,
      20: #442d4e,
      25: #442d4e,
      30: #442d4e,
      35: #7b1fa3,
      40: #7b1fa3,
      50: #7b1fa3,
      60: #7b1fa3,
      70: #7b1fa3,
      80: #7b1fa3,
      90: #9b27b0,
      95: #9b27b0,
      98: #9b27b0,
      99: #9b27b0,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #442d4e,
      20: #442d4e,
      25: #442d4e,
      30: #442d4e,
      35: #7b1fa3,
      40: #7b1fa3,
      50: #7b1fa3,
      60: #7b1fa3,
      70: #7b1fa3,
      80: #7b1fa3,
      90: #9b27b0,
      95: #9b27b0,
      98: #9b27b0,
      99: #9b27b0,
      100: #ffffff,
    ),
    neutral-variant: (
      0: #000000,
      10: #442d4e,
      20: #442d4e,
      25: #442d4e,
      30: #442d4e,
      35: #7b1fa3,
      40: #7b1fa3,
      50: #7b1fa3,
      60: #7b1fa3,
      70: #7b1fa3,
      80: #7b1fa3,
      90: #9b27b0,
      95: #9b27b0,
      98: #9b27b0,
      99: #9b27b0,
      100: #ffffff,
    ),
  )
);

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $green-palette,
      tertiary: $violet-palette,
    ),
  )
);

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: $green-palette,
      tertiary: $violet-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($m3-dark-theme);

  &.light-theme {
    @include mat.all-component-colors($m3-light-theme);
  }
}

@include mat.core();
@include mat.typography-hierarchy($m3-dark-theme);
