@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

$primary: (
  0: var(--accent-100),
  10: var(--accent-100),
  20: var(--accent-100),
  25: var(--accent-100),
  30: var(--accent-100),
  35: var(--accent-500),
  40: var(--accent-500),
  50: var(--accent-500),
  60: var(--accent-500),
  70: var(--accent-500),
  80: var(--accent-500),
  90: var(--accent-700),
  95: var(--accent-700),
  98: var(--accent-700),
  99: var(--accent-700),
  100: var(--accent-700),
  secondary: (
    0: var(--accent-100),
    10: var(--accent-100),
    20: var(--accent-100),
    25: var(--accent-100),
    30: var(--accent-100),
    35: var(--accent-500),
    40: var(--accent-500),
    50: var(--accent-500),
    60: var(--accent-500),
    70: var(--accent-500),
    80: var(--accent-500),
    90: var(--accent-700),
    95: var(--accent-700),
    98: var(--accent-700),
    99: var(--accent-700),
    100: var(--accent-700),
  ),
  neutral: (
    0: var(--accent-100),
    10: var(--accent-100),
    20: var(--accent-100),
    25: var(--accent-100),
    30: var(--accent-100),
    35: var(--accent-500),
    40: var(--accent-500),
    50: var(--accent-500),
    60: var(--accent-500),
    70: var(--accent-500),
    80: var(--accent-500),
    90: var(--accent-700),
    95: var(--accent-700),
    98: var(--accent-700),
    99: var(--accent-700),
    100: var(--accent-700),
  ),
  neutral-variant: (
    0: var(--accent-100),
    10: var(--accent-100),
    20: var(--accent-100),
    25: var(--accent-100),
    30: var(--accent-100),
    35: var(--accent-500),
    40: var(--accent-500),
    50: var(--accent-500),
    60: var(--accent-500),
    70: var(--accent-500),
    80: var(--accent-500),
    90: var(--accent-700),
    95: var(--accent-700),
    98: var(--accent-700),
    99: var(--accent-700),
    100: var(--accent-700),
  ),
);

$tertiary: (
  0: var(--primary-100),
  10: var(--primary-100),
  20: var(--primary-100),
  25: var(--primary-100),
  30: var(--primary-100),
  35: var(--primary-500),
  40: var(--primary-500),
  50: var(--primary-500),
  60: var(--primary-500),
  70: var(--primary-500),
  80: var(--primary-500),
  90: var(--primary-700),
  95: var(--primary-700),
  98: var(--primary-700),
  99: var(--primary-700),
  100: var(--primary-700),
  secondary: (
    0: var(--primary-100),
    10: var(--primary-100),
    20: var(--primary-100),
    25: var(--primary-100),
    30: var(--primary-100),
    35: var(--primary-500),
    40: var(--primary-500),
    50: var(--primary-500),
    60: var(--primary-500),
    70: var(--primary-500),
    80: var(--primary-500),
    90: var(--primary-700),
    95: var(--primary-700),
    98: var(--primary-700),
    99: var(--primary-700),
    100: var(--primary-700),
  ),
  neutral: (
    0: var(--primary-100),
    10: var(--primary-100),
    20: var(--primary-100),
    25: var(--primary-100),
    30: var(--primary-100),
    35: var(--primary-500),
    40: var(--primary-500),
    50: var(--primary-500),
    60: var(--primary-500),
    70: var(--primary-500),
    80: var(--primary-500),
    90: var(--primary-700),
    95: var(--primary-700),
    98: var(--primary-700),
    99: var(--primary-700),
    100: var(--primary-700),
  ),
  neutral-variant: (
    0: var(--primary-100),
    10: var(--primary-100),
    20: var(--primary-100),
    25: var(--primary-100),
    30: var(--primary-100),
    35: var(--primary-500),
    40: var(--primary-500),
    50: var(--primary-500),
    60: var(--primary-500),
    70: var(--primary-500),
    80: var(--primary-500),
    90: var(--primary-700),
    95: var(--primary-700),
    98: var(--primary-700),
    99: var(--primary-700),
    100: var(--primary-700),
  ),
);

$m3-dark-theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: $primary,
    tertiary: $tertiary,
  )
));

$m3-light-theme: matx.define-theme((
  color: (
    primary: $primary,
    tertiary: $tertiary,
  )
));

.dark-theme {
  @include mat.all-component-themes($m3-dark-theme);
}

.light-theme {
  @include mat.all-component-themes($m3-light-theme);
}
