@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use 'm3-palette-helpers' as palette-helpers;

$green-palette: palette-helpers.apply-patches(
  (
    0: hsl(0, 0%, 0%),
    10: hsl(140, 100%, 6%),
    20: hsl(144, 100%, 11%),
    25: hsl(146, 100%, 14%),
    30: hsl(147, 100%, 16%),
    35: hsl(148, 100%, 19%),
    40: hsl(148, 100%, 21%),
    50: hsl(149, 100%, 27%),
    60: hsl(149, 100%, 33%),
    70: hsl(150, 100%, 39%),
    80: hsl(150, 100%, 45%),
    90: hsl(139, 100%, 69%),
    95: hsl(127, 100%, 88%),
    98: hsl(117, 100%, 96%),
    99: hsl(106, 100%, 97%),
    100: hsl(0, 0%, 100%),
    secondary: (
      0: hsl(0, 0%, 0%),
      10: hsl(134, 38%, 9%),
      20: hsl(127, 20%, 17%),
      25: hsl(127, 16%, 22%),
      30: hsl(127, 14%, 26%),
      35: hsl(126, 12%, 30%),
      40: hsl(126, 11%, 35%),
      50: hsl(123, 8%, 45%),
      60: hsl(120, 9%, 55%),
      70: hsl(120, 12%, 65%),
      80: hsl(120, 17%, 76%),
      90: hsl(117, 32%, 87%),
      95: hsl(117, 55%, 92%),
      98: hsl(117, 100%, 96%),
      99: hsl(106, 100%, 97%),
      100: hsl(0, 0%, 100%),
    ),
    neutral: (
      0: hsl(0, 0%, 0%),
      10: hsl(120, 6%, 10%),
      20: hsl(120, 3%, 19%),
      25: hsl(120, 3%, 23%),
      30: hsl(100, 2%, 27%),
      35: hsl(90, 2%, 32%),
      40: hsl(90, 2%, 36%),
      50: hsl(96, 2%, 46%),
      60: hsl(90, 2%, 56%),
      70: hsl(84, 3%, 66%),
      80: hsl(84, 4%, 77%),
      90: hsl(72, 8%, 88%),
      95: hsl(72, 15%, 94%),
      98: hsl(70, 37%, 97%),
      99: hsl(70, 60%, 98%),
      100: hsl(0, 0%, 100%),
    ),
    neutral-variant: (
      0: hsl(0, 0%, 0%),
      10: hsl(129, 14%, 10%),
      20: hsl(120, 8%, 18%),
      25: hsl(120, 6%, 23%),
      30: hsl(120, 6%, 27%),
      35: hsl(113, 5%, 31%),
      40: hsl(113, 4%, 36%),
      50: hsl(113, 4%, 46%),
      60: hsl(108, 4%, 56%),
      70: hsl(107, 5%, 66%),
      80: hsl(104, 9%, 77%),
      90: hsl(104, 17%, 88%),
      95: hsl(104, 31%, 93%),
      98: hsl(100, 67%, 96%),
      99: hsl(98, 85%, 97%),
      100: hsl(0, 0%, 100%),
    ),
  )
);

$violet-palette: palette-helpers.apply-patches(
  (
    0: hsl(0, 0%, 0%),
    10: hsl(282, 27%, 24%),
    20: hsl(282, 27%, 24%),
    25: hsl(282, 27%, 24%),
    30: hsl(282, 27%, 24%),
    35: hsl(282, 68%, 38%),
    40: hsl(282, 68%, 38%),
    50: hsl(282, 68%, 38%),
    60: hsl(282, 68%, 38%),
    70: hsl(282, 68%, 38%),
    80: hsl(282, 68%, 38%),
    90: hsl(291, 64%, 42%),
    95: hsl(291, 64%, 42%),
    98: hsl(291, 64%, 42%),
    99: hsl(291, 64%, 42%),
    100: hsl(0, 0%, 100%),
    secondary: (
      0: hsl(0, 0%, 0%),
      10: hsl(282, 27%, 24%),
      20: hsl(282, 27%, 24%),
      25: hsl(282, 27%, 24%),
      30: hsl(282, 27%, 24%),
      35: hsl(282, 68%, 38%),
      40: hsl(282, 68%, 38%),
      50: hsl(282, 68%, 38%),
      60: hsl(282, 68%, 38%),
      70: hsl(282, 68%, 38%),
      80: hsl(282, 68%, 38%),
      90: hsl(291, 64%, 42%),
      95: hsl(291, 64%, 42%),
      98: hsl(291, 64%, 42%),
      99: hsl(291, 64%, 42%),
      100: hsl(0, 0%, 100%),
    ),
    neutral: (
      0: hsl(0, 0%, 0%),
      10: hsl(282, 27%, 24%),
      20: hsl(282, 27%, 24%),
      25: hsl(282, 27%, 24%),
      30: hsl(282, 27%, 24%),
      35: hsl(282, 68%, 38%),
      40: hsl(282, 68%, 38%),
      50: hsl(282, 68%, 38%),
      60: hsl(282, 68%, 38%),
      70: hsl(282, 68%, 38%),
      80: hsl(282, 68%, 38%),
      90: hsl(291, 64%, 42%),
      95: hsl(291, 64%, 42%),
      98: hsl(291, 64%, 42%),
      99: hsl(291, 64%, 42%),
      100: hsl(0, 0%, 100%),
    ),
    neutral-variant: (
      0: hsl(0, 0%, 0%),
      10: hsl(282, 27%, 24%),
      20: hsl(282, 27%, 24%),
      25: hsl(282, 27%, 24%),
      30: hsl(282, 27%, 24%),
      35: hsl(282, 68%, 38%),
      40: hsl(282, 68%, 38%),
      50: hsl(282, 68%, 38%),
      60: hsl(282, 68%, 38%),
      70: hsl(282, 68%, 38%),
      80: hsl(282, 68%, 38%),
      90: hsl(291, 64%, 42%),
      95: hsl(291, 64%, 42%),
      98: hsl(291, 64%, 42%),
      99: hsl(291, 64%, 42%),
      100: hsl(0, 0%, 100%),
    ),
  )
);

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $green-palette,
      tertiary: $violet-palette,
    ),
  )
);

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: $green-palette,
      tertiary: $violet-palette,
    ),
  )
);

html {
  @include mat.all-component-themes($m3-dark-theme);

  &.light-theme {
    @include mat.all-component-colors($m3-light-theme);
  }
}

@include mat.core();
@include mat.typography-hierarchy($m3-dark-theme);
