@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

// keep ui wrapper elements always on top when page is transitioned
::view-transition-group(tab-bar-top),
::view-transition-group(sidenav) {
  z-index: 100;
}

// keep toolbar and it's shadow always on top when page is transitioned even over tab bar
::view-transition-group(toolbar) {
  z-index: 1000;
}
