@use '@angular/material' as mat;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'src/app/shared/styles';

html,
body {
  min-height: 100vh;
  //noinspection CssInvalidPropertyValue
  min-height: -webkit-fill-available;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  margin: var(--toolbar-height) 0 var(--bottom-tabs-height);
}

:root {
  // colors
  --primary: #7b1fa2;
  --primary-dark: #432c4d;
  --primary-light: #9c27b0;
  --secondary: #69f0ae;
  --secondary-dark: #3e6050;
  --secondary-light: #4caf50;

  --text-color-light: rgb(0 0 0 / 87%);
  --text-color-light-2: rgb(0 0 0 / 60%);
  --text-color-dark: rgb(255 255 255);
  --text-color-dark-2: rgb(255 255 255 / 60%);

  --background-dark: #303030;
  --background-light: #fafafa;

  // other
  --toolbar-height: 64px;
  --bottom-tabs-height: 4rem;
  --border-radius: 8px;
}

@media (max-width: 599px) {
  :root {
    --toolbar-height: 56px;
  }
}

@media (min-width: $breakpoint-lg) {
  :root {
    --bottom-tabs-height: 0;
  }
}

.light-theme {
  // colors
  --text-color: var(--text-color-light);
  --text-color-2: var(--text-color-light-2);
  --background: var(--background-light);

  .mat-toolbar {
    @include mat.elevation(4, black, 0.2);
  }

  .mat-sidenav-container.sidenav-container .mat-sidenav.sidenav {
    @include mat.elevation(4, black, 0.4);

    @media (min-width: $breakpoint-lg) {
      box-shadow: none;
    }
  }

  .mat-drawer {
    background-color: #fafafa;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgb(114 114 114 / 60%);
  }

  .active {
    @media (min-width: $breakpoint-lg) {
      background: rgba(0, 0, 0, 0.08);
    }

    .icon-wrapper {
      background: rgba(0, 0, 0, 0.06);

      @media (min-width: $breakpoint-lg) {
        background: none;
      }
    }
  }

  .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
    color: var(--text-color-dark);
  }
}

.dark-theme {
  // colors
  --text-color: var(--text-color-dark);
  --text-color-2: var(--text-color-dark-2);
  --background: var(--background-dark);

  .mat-toolbar {
    @include mat.elevation(4, black, 0.4);
  }

  .mat-raised-button.mat-primary,
  .mat-flat-button.mat-primary,
  .mat-fab.mat-primary {
    color: var(--text-color);
  }

  .mat-drawer {
    background-color: #303030;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgb(127 127 127 / 60%);
  }

  .active {
    @media (min-width: $breakpoint-lg) {
      background: rgba(255, 255, 255, 0.08);
    }

    .icon-wrapper {
      background: rgba(255, 255, 255, 0.16);

      @media (min-width: $breakpoint-lg) {
        background: none;
      }
    }
  }

  .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
    color: var(--text-color-light);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: $breakpoint-sm) {
  .mat-headline {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.67em;
  }

  .mat-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .mat-subheading-2 {
    font-size: 1.17rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .mat-subheading-1 {
    font-size: 1.17rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .mat-body {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .mat-small {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .mat-tab-links {
    justify-content: center;
  }
}

a {
  -webkit-tap-highlight-color: transparent;

  &.mat-display-4,
  &.mat-display-3,
  &.mat-display-2,
  &.mat-display-1,
  &.mat-headline,
  &.mat-title,
  &.mat-subheading-2,
  &.mat-subheading-1,
  &.mat-h5,
  &.mat-h6,
  &.mat-body,
  &.mat-body-strong,
  &.mat-small {
    text-decoration: none;
    color: var(--text-color);
    display: block;
  }
}

.mat-fab.fab {
  position: fixed;
  bottom: 5rem;
  right: 1rem;

  @media (min-width: $breakpoint-lg) {
    bottom: 2rem;
    right: 2rem;
  }
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: -0.25rem 0;

  .list-item {
    padding: 0.25rem 0;
  }
}

.dark-theme,
.light-theme {
  .mat-drawer-side,
  .mat-drawer-side {
    border-right: 0;

    .sidenav-link,
    .mat-list-item,
    .mat-list-item-ripple {
      border-top-right-radius: 100000rem;
      border-bottom-right-radius: 100000rem;
    }

    .active {
      font-weight: bold;
    }
  }

  .mat-tab-nav-bar,
  .mat-tab-nav-bar {
    border-bottom: 0;
  }

  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 rem(24px);
  }

  .mat-dialog-content {
    padding-bottom: rem(8px);
    padding-top: rem(8px);
  }

  .mat-dialog-title {
    margin-bottom: rem(12px);
  }

  .mat-list-base:not(.sidenav-list) .mat-list-item {
    cursor: default;
    user-select: none;
    padding: 0.4rem 0;
    height: initial;

    @media (min-width: $breakpoint-sm) {
      padding: 0.75rem 0;
    }

    .mat-list-item-content {
      padding: 0 1rem;
    }
  }

  .mat-list-item-content {
    justify-content: center;

    @media (min-width: $breakpoint-lg) {
      justify-content: start;
    }
  }
}

.link {
  display: block;
  text-decoration: none;
  cursor: default;
  width: 100%;
}

a {
  color: var(--text-color);
}
