@use 'theme';
@use 'theme-extensions';
@use 'view-transition';
@use './app/shared/styles/variables' as vars;

html {
  overflow-y: scroll;
  overscroll-behavior: none;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  padding: var(--toolbar-height) 0 var(--bottom-tabs-height);
}

:root {
  --text-color-dark: rgb(0 0 0 / 87%);
  --text-color-2-dark: rgb(0 0 0 / 60%);
  --text-color-light: rgb(255 255 255);
  --text-color-2-light: rgb(255 255 255 / 60%);

  --background-dark: #292929;
  --background-light: #fafafa;
  --background-2-dark: #525252;
  --background-2-light: #e5e5e5;

  // other
  --toolbar-height: 64px;
  --sidenav-width: 256px;
  --bottom-tabs-height: 4rem;
  --border-radius: 8px;
  --transition-duration: 250ms;
}

@media (max-width: 599px) {
  :root {
    --toolbar-height: 56px;
  }
}

@media (min-width: vars.$breakpoint-lg) {
  :root {
    --bottom-tabs-height: 0;
  }
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: -0.25rem 0;
}

img {
  width: 100%;
}

// see https://x.com/argyleink/status/1767765587827347500
h1,
h2,
h3,
h4,
h5,
h6,
dt,
blockquote,
figcaption {
  text-wrap: balance;
  max-inline-size: 25ch;
}

p,
dd,
li {
  text-wrap: pretty;
  max-inline-size: 60ch;
}
