@use '@angular/material' as mat;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'src/app/shared/styles';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  margin-top: var(--toolbar-height);
}

:root {
  // colors
  --primary: #7b1fa2;
  --primary-dark: #432c4d;
  --primary-light: #9c27b0;
  --secondary: #69f0ae;
  --secondary-dark: #3e6050;
  --secondary-light: #4caf50;

  // other
  --toolbar-height: 64px;
}

@media (max-width: 599px) {
  :root {
    --toolbar-height: 56px;
  }
}

.light-theme {
  // colors
  --text-color: rgba(0, 0, 0, 0.87);

  .mat-toolbar {
    @include mat.elevation(4, black, 0.2);
  }
}

.dark-theme {
  // colors
  --text-color: white;

  .mat-toolbar {
    @include mat.elevation(4, black, 0.4);
  }

  .mat-raised-button.mat-primary,
  .mat-flat-button.mat-primary,
  .mat-fab.mat-primary {
    color: var(--text-color);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: $breakpoint-sm) {
  .mat-headline {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.67em;
  }

  .mat-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .mat-subheading-2 {
    font-size: 1.17rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .mat-subheading-1 {
    font-size: 1.17rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .mat-body {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .mat-small {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.mat-list-base mat-list-item.mat-list-item {
  cursor: default;
  user-select: none;
  padding: 0.7rem 0;
  height: initial;
}

a {
  -webkit-tap-highlight-color: transparent;
}
