@import '../../styles';

.breadcrumb-wrapper {
  margin-bottom: 1rem;
  display: flex;
  white-space: nowrap;
}

.part {
  display: inline-block;
  margin: 0;
}

.divider {
  display: inline-block;
  margin: 0 0.5rem;
  cursor: default;
}
