@import 'src/app/styles';

.breadcrumb-wrapper {
  margin-bottom: rem(16px);
}

.part {
  display: inline-block;
  margin: 0;
}

.divider {
  display: inline-block;
  margin: 0 0.5rem;
  cursor: default;
}
