<nav class="breadcrumb-wrapper">
  <ng-container *ngIf="parts">
    <ng-container *ngFor="let part of parts; let i = index">
      <a
        class="mat-subtitle-1 part"
        [routerLink]="part.link"
        [state]="{ back }"
        ticker
        [tickerIf]="i === 0"
      >
        {{ part.name }}
      </a>
      <h2 *ngIf="i !== parts.length - 1" class="mat-subtitle-1 divider">/</h2>
    </ng-container>
  </ng-container>
  <span *ngIf="!parts" class="mat-subtitle-1 part">&nbsp;</span>
</nav>
