@import 'src/app/shared/styles';

.breadcrumb-wrapper {
  margin-bottom: rem(16px);
  display: flex;
  @include ellipsis;
}

.part {
  display: inline-block;
  margin: 0;

  &:first-child {
    @include ellipsis;
  }
}

.divider {
  display: inline-block;
  margin: 0 0.5rem;
  cursor: default;
}
