<form class="search-form" (ngSubmit)="searchSubmitted($event)">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Search shows...</mat-label>
    <input
      #searchInput
      matInput
      type="search"
      enterkeyhint="search"
      name="search"
      [value]="searchValue"
      (keyup.enter)="searchInput.blur()"
      data-test-id="add-show-search"
    />
  </mat-form-field>
</form>

@if (!searchValue) {
  <mat-chip-set aria-label="Show selection" class="show-selection">
    @for (chip of chips; track chip.slug; let i = $index) {
      <mat-chip (click)="changeShowsSelection(chip)" [highlighted]="chip.slug === activeSlug">
        {{ chip.name }}
      </mat-chip>
    }
  </mat-chip-set>
}

<t-loading [loadingState]="pageState" showErrorTemplate>
  <t-shows
    [isLoggedIn]="authService.isLoggedIn()"
    [showsInfos]="showsInfos()"
    [back]="router.url"
    withYear
    withEpisodesCount
    withAddButtons
    (add)="executeService.addToWatchlist($event)"
    (remove)="executeService.removeFromWatchlist($event)"
  />
</t-loading>
