@use '../../../../shared/styles/mixins' as mixins;

:host {
  @include mixins.container;
}

.search-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-form,
.form-field {
  width: 100%;
}

.show-selection {
  margin-bottom: 0.75rem;
  display: inline-block;
}
