@import '../../../../shared/styles';

:host {
  @include container;
}

.search-form,
.form-field {
  width: 100%;
}

.show-selection {
  margin-top: -1.34375rem;
  margin-bottom: 0.75rem;
  display: inline-block;
}
