@if (upcomingEpisodesQuery.isPending()) {
  <t-spinner />
}

@if (upcomingEpisodesQuery.isError()) {
  <p class="mat-body-medium">An error occurred.</p>
}

@if (upcomingEpisodesQuery.isSuccess()) {
  @for (upcomingEpisodesPage of filteredEpisodePages(); track $index) {
    <t-shows
      [showsInfos]="upcomingEpisodesPage"
      [back]="router.url"
      withEpisode
      withLinkToEpisode
      withRelativeDate
      withoutCustomProperty
    />
  }

  <button
    matButton
    (click)="upcomingEpisodesQuery.fetchNextPage()"
    [disabled]="nextButtonDisabled()"
  >
    {{ nextButtonText() }}
  </button>
}
