<t-loading [loadingState]="pageState">
  <t-show-header
    [tmdbSeason]="tmdbSeason$ | async"
    [posterPrefix]="posterPrefix"
    [showWatched]="showWatched$ | async"
    [tmdbShow]="tmdbShow$ | async"
    [show]="show$ | async"
    [isFavorite]="isFavorite$ | async"
    [isSmall]="isSmall"
    (addFavorite)="showService.addFavorite($event)"
    (removeFavorite)="showService.removeFavorite($event)"
  ></t-show-header>

  <t-show-next-episode
    [isLoading]="(nextEpisode$ | async) === null && !(pageState | async | isError)"
    [nextEpisodeTrakt]="(nextEpisode$ | async)?.[0]"
    [nextEpisodeTmdb]="(nextEpisode$ | async)?.[1]"
    [nextEpisodeProgress]="(nextEpisode$ | async)?.[2]"
    [showProgress]="showProgress$ | async"
    [isNewShow]="(showProgress$ | async) === undefined"
    [tmdbShow]="tmdbShow$ | async"
    [show]="show$ | async"
    [seenLoading]="seenLoading | async"
    (addEpisode)="addToHistory($event.episode, $event.show)"
    (addSeason)="executeService.addSeason($event.episode.season, $event.show)"
    (addShow)="executeService.addShow($event.show)"
    [showWatched]="showWatched$ | async"
  ></t-show-next-episode>

  <t-show-seasons
    [show]="show$ | async"
    [showProgress]="showProgress$ | async"
    [seasonsEpisodes]="seasonEpisodes$ | async"
    [tmdbShow]="tmdbShow$ | async"
  ></t-show-seasons>
</t-loading>
