<mat-list *ngIf="showProgress">
  <a
    *ngFor="let seasonProgress of showProgress.seasons"
    class="link"
    matRipple
    tHideRippleOnScroll
    [routerLink]="
      { slug: show | showSlug, season: seasonProgress.number + '' } | ngGenericPipe: paths.season
    "
  >
    <mat-list-item>
      <t-show-season-item [seasonProgress]="seasonProgress"></t-show-season-item>
    </mat-list-item>
  </a>
</mat-list>

<mat-list *ngIf="tmdbShow && !showProgress">
  <a
    *ngFor="let season of tmdbShow.seasons"
    class="link"
    matRipple
    tHideRippleOnScroll
    [routerLink]="
      { slug: show | showSlug, season: season.season_number + '' } | ngGenericPipe: paths.season
    "
  >
    <mat-list-item>
      <t-show-season-item [season]="season"></t-show-season-item>
    </mat-list-item>
  </a>
</mat-list>
