@if (isPending()) {
  <t-spinner />
} @else if (isError()) {
  <p class="mat-body-medium">Failed to load watchlist.</p>
} @else {
  <t-shows
    [showsInfos]="showsInfos()"
    [menu]="menu"
    [back]="router.url"
    withEpisodesCount
    withEpisode
  />
}

<a
  mat-fab
  class="main-fab tertiary-fab"
  aria-label="Add show to watchlist"
  routerLink="/shows/add-show"
>
  <mat-icon>add</mat-icon>
</a>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-show="show">
    @if (show) {
      <button mat-menu-item (click)="executeService.removeFromWatchlist(show)">
        Remove from watchlist
      </button>
    }
  </ng-template>
</mat-menu>
