<t-loading [loadingState]="pageState()">
  <t-shows
    [showsInfos]="showsInfos"
    [menu]="menu"
    [back]="router.url"
    withEpisodesCount
    withEpisode
  />
</t-loading>

<a
  mat-fab
  class="fab fab--accent"
  aria-label="Add show to watchlist"
  [routerLink]="Paths.addShow({})"
>
  <mat-icon>add</mat-icon>
</a>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-show="show">
    @if (show) {
      <button mat-menu-item (click)="executeService.removeFromWatchlist(show)">
        Remove from watchlist
      </button>
    }
  </ng-template>
</mat-menu>
