@import 'src/app/styles';

:host {
  display: block;
  margin-bottom: 2rem;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 3rem;
  }
}

.loading {
  background: var(--background-2);
  padding: 1rem;
  border-radius: var(--border-radius);
  opacity: 0.5;
}

.next-text {
  margin-bottom: rem(8px);

  @media (min-width: $breakpoint-sm) {
    margin-bottom: rem(16px);
  }
}

.subtitle {
  color: var(--text-color-2);
}
