<ng-container *ngIf="!isLoading; else nextEpisodeLoading">
  <ng-container *ngIf="nextEpisodeTrakt !== null">
    <h3 class="mat-subheading-2 next-text">
      Next episode
      <span *ngIf="showProgress || tmdbShow" class="subtitle">
        <ng-container *ngIf="tmdbShow && (!showProgress || showProgress.completed === 0)">
          · {{ tmdbShow.number_of_episodes }} episodes
        </ng-container>
        <ng-container
          *ngIf="
            showProgress &&
            showProgress.completed > 0 &&
            showProgress.aired - showProgress.completed
          "
        >
          ·
          {{ showProgress.aired - showProgress.completed }}
          remaining
        </ng-container>
      </span>
    </h3>

    <t-episode
      *ngIf="show && tmdbShow"
      [show]="show"
      [episode]="nextEpisodeTrakt"
      [tmdbEpisode]="nextEpisodeTmdb"
      [episodeProgress]="nextEpisodeProgress"
      [isNewShow]="isNewShow"
      [isSeenLoading]="seenLoading === state.LOADING"
      (addEpisode)="addEpisode.emit($event)"
      (addSeason)="addSeason.emit($event)"
      (addShow)="addShow.emit($event)"
    ></t-episode>
  </ng-container>

  <h3
    class="mat-subheading-2"
    *ngIf="showWatched && nextEpisodeTrakt === null && !(tmdbShow | isShowEnded)"
  >
    No next episode.
  </h3>
</ng-container>

<ng-template #nextEpisodeLoading>
  <div class="loading">...</div>
</ng-template>
