@use '../../../../../../shared/styles/variables' as vars;

.details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  @media (min-width: vars.$breakpoint-sm) {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  > * {
    margin: 0;
  }
}

.votes {
  color: var(--text-color-2);
}
