name: E2E tests

on: [ push ]

jobs:
  cypress-run:
    if: ${{ false }}  # disable for now
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: yarn start
          # quote the url to be safe against YML parsing surprises
          wait-on: 'http://localhost:4200'
        env:
          CYPRESS_EMAIL: ${{ secrets.CYPRESS_EMAIL }}
          CYPRESS_PASSWORD: ${{ secrets.CYPRESS_PASSWORD }}
          CYPRESS_ACCESSTOKEN: ${{ secrets.CYPRESS_ACCESSTOKEN }}
          CYPRESS_REFRESHTOKEN: ${{ secrets.CYPRESS_REFRESHTOKEN }}
          CYPRESS_EXPIRESAT: ${{ secrets.CYPRESS_EXPIRESAT }}
          CYPRESS_ACCESSTOKENSTOREDAT: ${{ secrets.CYPRESS_ACCESSTOKENSTOREDAT }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: failure()
        with:
          name: cypress-data
          path: |
            cypress/videos
            cypress/screenshots

