<div class="wrapper">
  @if (isLoggedIn()) {
    <mat-checkbox [checked]="!!episodeProgress()?.completed" (click)="onClick($event)" />
  }

  <div class="right-wrapper" [class.not-aired]="episodeAirDate() > currentDate">
    <h3 class="mat-body-medium title">{{ episodeTitle() }}</h3>

    <h3 class="mat-body-medium subtitle">
      @if (episode()) {
        @if (episode()?.first_aired) {
          {{ episode()!.first_aired | date: 'd. MMM. yyyy' }}
        } @else {
          No air date
        }
      } @else {
        ...
      }
    </h3>
  </div>
</div>
