<div class="wrapper">
  <mat-checkbox
    *ngIf="isLoggedIn"
    class="checkbox"
    [checked]="!!episodeProgress()?.completed"
    (click)="onClick($event)"
  ></mat-checkbox>

  <div
    class="right-wrapper"
    [class.not-aired]="!_episode()?.first_aired || (_episode() | airDate) > currentDate"
  >
    <h3 class="mat-body-2 title">{{ episodeTitle() }}</h3>

    <h3 class="mat-body-2 subtitle">
      <ng-container *ngIf="_episode(); else episodeLoading">
        <ng-container *ngIf="_episode()?.first_aired; else noAirDate">
          {{ _episode()!.first_aired | date: 'd. MMM. yyyy' }}
        </ng-container>
        <ng-template #noAirDate>No air date</ng-template>
      </ng-container>
      <ng-template #episodeLoading>...</ng-template>
    </h3>
  </div>
</div>
