@if (showInfo(); as showInfo) {
  <a
    [routerLink]="withLinkToEpisode() && showInfo.nextEpisode ? episodeLink() : showLink()"
    [info]="showInfo"
    [state]="{ back: back(), showInfo: showInfo }"
    data-test-id="show"
  >
    <mat-list-item>
      <t-show-list-item
        [show]="showInfo.show"
        [showMeta]="showInfo.showMeta"
        [showWatched]="showInfo.showWatched"
        [progress]="showInfo.showProgress"
        [tmdbShow]="showInfo.tmdbShow"
        [tmdbSeason]="showInfo.tmdbSeason ?? undefined"
        [episode]="showInfo.nextEpisode"
        [menu]="menu()"
        [i]="i()"
        [isLoggedIn]="isLoggedIn()"
        [isFavorite]="showInfo.isFavorite"
        [isHidden]="showInfo.isHidden"
        [isWatchlist]="showInfo.isWatchlist"
        [withYear]="withYear()"
        [withEpisode]="withEpisode()"
        [withAddButtons]="withAddButtons()"
        [withEpisodesCount]="withEpisodesCount()"
        [withProgressbar]="withProgressbar()"
        [withRelativeDate]="withRelativeDate()"
        [withoutCustomProperty]="withoutCustomProperty()"
        (addFavorite)="addFavorite.emit($event)"
        (removeFavorite)="removeFavorite.emit($event)"
        (addShow)="add.emit($event)"
        (removeShow)="remove.emit($event)"
      />
    </mat-list-item>
  </a>
}
